<div class="autologin-url-modal modal-body" ng-keyup="($event.keyCode == 13 && buttonEnabled && ok()) || ($event.keyCode == 27 && cancel())">
  <h2>{{modalOptions.headerText}}</h2>
  <div class="row">
    <label class="url-label">Copy this private link to stream as <strong>{{streamName}}</strong></label>
  </div>
  <div class="row">
    <input type="text" class="url-input" readonly ng-model="url" id="autoLoginUrl">
    <a class="btn btn-primary copy-btn" ngclipboard-success="copySuccess(evt)" ngclipboard-error="copyError(evt)" ngclipboard data-clipboard-target="#autoLoginUrl">Copy</a>
  </div>
  <div class="status" ng-show="statusMessage">{{statusMessage}}</div>
  <div class="row regeneration-info alert alert-info">
    <p>Generating a new link will deactivate and end streaming for your past Auto Login URL.</p>
    <a class="btn btn-simple regenerate-btn" ng-click="generateUrl()">Regenerate</a>
  </div>
</div>
<div class="modal-footer">
  <button class="btn submit btn-primary okay" ng-click="ok()">{{modalOptions.actionButtonText}}</button>
</div>

