<form class="activate-form" novalidate ng-submit="vm.activateMessagePreset()">
  <div class="modal-body text-center">
    <div class="activate-success">
      <i class="fa fa-4x fa-check-circle animated zoom-in"></i>
      <p>Your message preset <strong ng-bind="::vm.messagePreset.name"></strong> has been successfully created!</p>
    </div>
    <div class="activate-actions">
      <p>Would you like to activate this message preset?</p>
      <div class="play-opts">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-play fa-push-right"></i>Activate Now
        </button>
      </div>
      <button class="btn btn-link" type="button" ng-click="vm.skipMessagePresetActivation()">
        Maybe Later
      </button>
    </div>
  </div>
</form>