<form novalidate ng-submit="$close()">
  <div class="modal-body">
    <h2 class="modal-title">Download media now?</h4>
    <p>This action will download media to the CloudBox.</p>
    <p><strong>CloudBox name:</strong> <span ng-bind="::vm.device.devicename"></span></p>
    <a ui-sref="account.admin.prefetch" ng-click="$dismiss()">Media Download Window</a>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit"><i class="fa fa-download fa-push-right"></i>Download</button>
    <button class="btn btn-default" type="button" ng-click="$dismiss()">Cancel</button>
  </div>
</form>
