<div class="modal-body downgrade">
  <h2>Please Contact Support</h2>
  <p><strong>You cannot have multiple zones on the {{modalOptions.planName}} plan.</strong></p>
  <p>If you still want to switch to the {{modalOptions.planName}} plan, our Customer Success Team is happy to help you!
  </p>
  <p>
    <a target="_ccm_phone" href="tel:1-844-422-6249">(844) 422-6249</a><br/>
    <a target="_ccm_email" href="mailto:support@cloudcovermusic.com">support@cloudcovermusic.com</a>
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary okay" ng-click="ok()" ng-enter="ok()">OK</button>
</div>
