<div class='alert alert-info side-info'>
  <h1>Permissions Explanation</h1>
  <h2>Music Permissions</h2>
  <p><b>Skip songs:</b> Allows you to skip songs on the player. Skipping songs will only be allowed 6 times per hour.</p>
  <p><b>Remove songs:</b> When your location uses the web interface as the player, they can remove songs that they don't like.</p>
  <p><b>Pause:</b> Your location is allowed to pause the music</p>
  <h2>Management Permissions</h2>
  <p><b>Manage Music:</b> Music managers can create and edit mix stations and dayparts (music schedules).</p>
  <p ng-if="messageQuantityAllowedPerPreset"><b>Manage Messages:</b> Account message administrators can upload messages, and create and edit message presets and schedules.</p>
  <h2>Selection Permissions</h2>
  <p><b>Select Music:</b> The location can select music from the available music lists.</p>
  <p ng-if="messageQuantityAllowedPerPreset"><b>Select Messages:</b> The location can select message presets and schedules from the available lists.</p>
  <p><b>Company Selections:</b> The location will only see the music options you have chosen in the Company Selections tab.</p>
</div>
