<form ng-class="{ 'window-cleared': vm.form.cleared }" novalidate ng-submit="vm.save()">
  <div class="modal-body">
    <h4 class="modal-title">Media Download Window</h4>
    <p class="note-end-time">Note: The window must be at least <span ng-bind="::vm.minWindowDuration"></span> in length.</p>
    <fieldset class="form-group">
      <legend class="form-label">Start Time</legend><em class="time-empty" ng-if="vm.form.cleared">Not Set</em>
      <div ng-if="!vm.form.cleared">
        <input-dropdown
          input-name="startHour"
          input-class-name="form-control time hour digits"
          input-required="true"
          allow-custom-input="true"
          selected-item="vm.form.fields.start.hours"
          default-dropdown-items="vm.form.options.hours"
          item-selected-method="vm.updateStartHours(item)"
          input-change-method="vm.updateStartHours(input)"></input-dropdown>
        <span class="time-separator">:</span>
        <input-dropdown
          input-name="startMinute"
          input-class-name="form-control time minute digits"
          input-required="true"
          allow-custom-input="true"
          selected-item="vm.form.fields.start.minutes"
          default-dropdown-items="vm.form.options.minutes"
          item-selected-method="vm.updateStartMinutes(item)"
          input-change-method="vm.updateStartMinutes(input)"></input-dropdown>
        <select class="form-control ampm" required
                ng-model="vm.form.fields.start.period"
                ng-change="vm.onTimeChanged()">
        <option value="am">am</option>
        <option value="pm">pm</option>
        </select>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <legend class="form-label">End Time</legend><em class="time-empty" ng-if="vm.form.cleared">Not Set</em>
      <div ng-if="!vm.form.cleared">
        <input-dropdown
          input-placeholder=""
          input-name="stopHour"
          input-class-name="form-control time hour digits"
          input-required="true"
          allow-custom-input="true"
          selected-item="vm.form.fields.stop.hours"
          default-dropdown-items="vm.form.options.hours"
          item-selected-method="vm.updateStopHours(item)"
          input-change-method="vm.updateStopHours(input)"></input-dropdown>
        <span class="time-separator">:</span>
        <input-dropdown
          input-placeholder=""
          input-name="stopMinute"
          input-class-name="form-control time minute digits"
          input-required="true"
          allow-custom-input="true"
          selected-item="vm.form.fields.stop.minutes"
          default-dropdown-items="vm.form.options.minutes"
          item-selected-method="vm.updateStopMinutes(item)"
          input-change-method="vm.updateStopMinutes(input)"></input-dropdown>
        <select class="form-control ampm" required
                ng-model="vm.form.fields.stop.period"
                ng-change="vm.onTimeChanged()">
        <option value="am">am</option>
        <option value="pm">pm</option>
        </select>
        <em class="small next-day" ng-show="vm.isStopTimeInNextDay">(next day)</em>
      </div>
    </fieldset>
    <div ng-if="!vm.form.cleared">
      <strong class="form-label">Duration</strong><span ng-show="vm.windowDurationHumanized" ng-bind="vm.windowDurationHumanized"></span><span ng-hide="vm.windowDurationHumanized">&mdash;</span>
    </div>
    <p class="alert alert-danger" ng-show="!vm.form.valid && !vm.form.cleared">The end time must be at least <span ng-bind="::vm.minWindowDuration"></span> after the start time.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link pull-left device-dl-window-clear-btn" type="button"
            ng-show="vm.isWindowSet && !vm.form.cleared"
            ng-click="vm.clearWindow()">
      Clear Window
    </button>
    <button class="btn btn-primary" type="submit" ng-disabled="!vm.form.valid && !vm.form.cleared">Save</button>
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
  </div>
</form>