<div>
  <table class="message-agenda-table" ng-repeat="day in daysOfWeek">
    <tr ng-repeat="event in agendaList[day.dateStamp] | orderBy:'start'" ng-click="editEvent(event.itemid, day, event.start)">
      <td class="date"><span class="date-string" ng-show="$index == 0">{{day.dateString}}</span></td>
      <td class="time">{{event.timeLabel}}</td>
      <td class="message">
        {{event.name}}
        <i class="fa fa-refresh" ng-show="event.repeating"></i>
      </td>
    </tr>
  </table>
  <div ng-show="noEvents" class="no-scheduled-message">
    <i class="fa fa-microphone-slash"></i>
    <h2>You haven't scheduled any messages this week</h2>
    <p>You can add messages to this week's schedule by clicking
      <a ng-click="addMessage()">Add Message</a>.
      If you would like to add messages to your account, visit
      <a ui-sref="account.admin.messages">Your Library</a>.
    </p>
  </div>
</div>
