<div class="message-scheduler-popup-toolbar" ng-show="show" ng-style="{left: left, top:top, width:width, height:height}">
  <div class="toolbar">
    <div class="header">
      {{name}}
    </div>
    <div class="body">
      <div class="row row1">
        <span class="date">
          {{dateLabel}}
        </span>
        <span class="recur-icon" ng-show="is_recurring">
          <i class="fa fa-refresh"></i>
        </span>
        <div class="button-bar">
          <span class="btn btn-default edit-button" ng-click="setTrigger('edit')"><i class="fa fa-pencil"></i></span>
          <span class="btn btn-default delete-button" ng-show="exceptions-ready" ng-click="setTrigger('delete')"><i class="fa fa-trash"></i></span>
        </div>
      </div>
      <div class="row row2">
        <div class="time">
          {{timeLabel}}
        </div>
      </div>
    </div>
  </div>
  <div class="tail"></div>
</div>
