<div class="labels">
    <div class="row"></div>
    <div class="row" ng-repeat="label in labels">{{label}}</div>
</div>

<div class="data-container">
<div class="data-area">

    <div class="row timestamps">
      <message-schedule-grid min="0" max="1440" tick="60" zoom="zoom" class="grid-container"></message-schedule-grid>
    </div>

    <div class="row" ng-repeat="label in labels">
        <message-schedule-grid min="0" max="1440" tick="60" zoom="zoom" class="grid-container striped no-labels"></message-schedule-grid>
        <message-schedule-multi-slider default-value="0" min="0" max="1440" tick="1" slots="slots" zoom="zoom" day="$index" sid="schedule_id"></message-schedule-multi-slider>
    </div>

</div>
</div>
