<form name="confirmpassword" novalidate ng-submit="confirmpassword.$valid && vm.confirmPassword()">
    <div class="modal-body">
        <div class="header-close-button" ng-click="vm.dismiss()">
            <i class="fa fa-times-circle"></i>
        </div>
        <div class="row">
            <label>Confirm your password to continue</label>
        </div>
        <div class="row">
            <input class="locationpassword form-control" type="password" required placeholder="Password" name="password"
                   ng-model="vm.locationData.userpassword"
                   ng-minlength="8"
                   ng-maxlength="45"
                   ng-change="vm.clearStatus()">
            <div class="help-block validation-error" ng-show="confirmpassword.$submitted && confirmpassword.$invalid">
                <span ng-show="confirmpassword.password.$error.required">Valid password is required</span>
                <span ng-show="confirmpassword.password.$error.maxlength">Password must be at most 45 characters</span>
                <span ng-show="confirmpassword.password.$error.minlength">Password must be at least 8 characters</span>
            </div>
            <div class="help-block validation-error" ng-if="vm.returnResponse.status == 'error'">
                <span>Invalid password for <strong>{{vm.locationData.user_username}}</strong></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn submit btn-primary okay" type="submit">Confirm</button>
    </div>

</form>