<div class="device-api-key-modal modal-body" ng-keyup="($event.keyCode == 13 && buttonEnabled && ok()) || ($event.keyCode == 27 && cancel())">
  <h2>{{modalOptions.headerText}}</h2>
  <div class="row">
    <label class="subtitle">Copy this API Key to your system that integrates with Cloud Cover Music</label>
  </div>
  <div class="row">
    <input type="text" class="apikey-input" readonly ng-model="apikey" id="apiKey">
    <a class="btn btn-primary copy-btn" ngclipboard-success="copySuccess(evt)" ngclipboard-error="copyError(evt)" ngclipboard data-clipboard-target="#apiKey">Copy</a>
  </div>
  <div class="status" ng-show="statusMessage">{{statusMessage}}</div>
  <div class="row regeneration-info alert alert-info">
    <p>Generating a new API Key will not disable devices that are currently using the older key, until that key is disabled.</p>
    <a class="btn btn-simple regenerate-btn" ng-click="regenerate()">Regenerate</a>
  </div>
</div>
<div class="modal-footer">
  <button class="btn submit btn-primary okay" ng-click="ok()">{{modalOptions.actionButtonText}}</button>
</div>

