<form name="streamForm" ng-submit="ok()">
  <div class="stream-modal modal-body" ng-keydown="handleEnterKey($event)">
    <h2>{{modalOptions.headerText}}</h2>
    <div class="field-section row">
      <div class="legal-warning">A zone is a stream of audio within one location (a single street address). <strong>It is illegal to stream a zone that is not at the location listed.</strong></div>
      <div class="location-field">
        <label>Location</label>
        <div class="location-select">
          <div ng-if="!modalModel.location">
            <ol class="nya-bs-select" title="Select a Location" data-live-search="true"
              ng-model="modalModel.userid"
              ng-change="checkButton()">
              <li data-value="option.userid" nya-bs-option="option in locationOptions">
                <a ng-bind="option.name"></a>
              </li>
            </ol>
          </div>
          <div class="location-select" ng-if="modalModel.location">
            <input type="text" ng-model="modalModel.location" ng-disabled="modalModel.location">
          </div>
          <div class="add-new-location" ng-if="hasPaymentPermission">
            or <a ng-click="cancel()" ui-sref="account.admin.addlocation">add new location</a>
          </div>
        </div>
      </div>
      <div class="zone-name">
        <label>Zone Name</label>
        <div class="zone-name-input">
          <input value="" name="streamname" type="text" placeholder="Enter Zone Name" required
            ng-model="modalModel.streamname"
            ng-change="checkButton()"
            ng-minlength="3"
            ng-maxlength="40"
            ccm-stream-edit-unique
            ccm-stream-edit-unique-user-id="modalModel.userid">
        </div>
        <div class="error" ng-show="streamForm.$dirty && streamForm.$invalid">
          <small class="error" ng-show="streamForm.streamname.$error.required">Please enter a Zone name</small>
          <small class="error" ng-show="streamForm.streamname.$error.minlength">Zone name should be at least 3 characters</small>
          <small class="error" ng-show="streamForm.streamname.$error.maxlength">Zone name cannot be longer than 40 characters</small>
          <small class="error" ng-show="streamForm.streamname.$error.streamEditUnique">This Zone name is taken, please try another</small>
        </div>
      </div>
    </div>
    <div class="terms alert alert-info" ng-show="modalOptions.action === 'add'">
      <label>Terms of Agreement</label>
      <p>By agreeing to our <a target="_ccm_terms" href="https://media.cloudcovermusic.com/Cloud_Cover_Media_Terms_and_Conditions.pdf">terms</a>, you acknowledge that you are adding a zone to your subscription. This will increase your zone count and {{billFrequency.frequency}} charge by <strong>{{streamPrice | currency:"USD $":2}}/{{billFrequency.abbrev}}</strong>.</p>
      <label>
        <input type="checkbox" ng-model="modalModel.termsAgreement" ng-change="checkButton()"> I Agree
      </label>
    </div>
  </div>
  <div class="modal-footer button-bar">
    <div class="right-side">
      <button class="btn btn-primary okay" type="submit"
        ng-bind="modalOptions.actionButtonText"
        ng-class="{ disabled: !buttonEnabled || streamForm.$invalid }"
        ng-disabled="!buttonEnabled || streamForm.$invalid || streamForm.$pending">
      </button>
      <button class="btn cancel" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</form>
