<div class="stream-history modal-body">
  <div class="header-close-button" ng-click="cancel()">
    <i class="fa fa-times-circle"></i>
  </div>
  <div ng-show="streamHistory.length">
    <h2>{{modalOptions.headerText}}</h2>
    <div class="stream-container">
      <ul>
        <li class="stream-header">
          <div class="stream-time">Date</div>
          <div class="stream-song">Title</div>
          <div class="stream-artist">Artist</div>
          <div class="stream-station">Station</div>
          <div class="stream-type">Type</div>
          <div class="stream-device">Device</div>
        </li>

        <li ng-repeat="item in streamHistory" class="stream-row">
          <div class="stream-time" data-title="Date" ng-attr-title="{{item.time | date: 'short'}}">{{item.time | date: 'short'}}</div>
          <div class="stream-song" data-title="Title" ng-attr-title="{{item.song || item.message}}">{{item.song || item.message}}</div>
          <div class="stream-artist" data-title="Artist" ng-attr-title="{{item.artist}}">{{item.artist || "-"}}</div>
          <div class="stream-station" data-title="Station" ng-attr-title="{{item.station}}">{{item.station || "-"}}</div>
          <div class="stream-type" data-title="Type" ng-attr-title="{{item.mediaType}}">{{item.mediaType}}</div>
          <div class="stream-device" data-title="Device" ng-attr-title="{{item.deviceName}}">{{item.deviceName}}</div>
        </li>
      </ul>
    </div>
  </div>

  <div ng-hide="streamHistory.length">
    <h4 class="no-stream-history">This zone has no recent stream history.</h4>
  </div>
</div>

