<div class="row">
  <div class="col-md-12 enterprise">
    <div class="row">
      <h2>Manage Plan</h2>
      <div class="intro">Upgrade your account to Manage and get the best tools for managing and controlling multiple locations. From the IT department to marketing we've got you covered!
      </div>
      <div class="nav">
        <a ng-click="changelocation('/admin/billing/upgrade')"><button class="btn btn-success">Upgrade Today!</button></a>
      </div>
    </div>
    <div class="row features">
      <div class="col-md-6">
        <h3><i class="fa fa-list"></i>&nbsp;Centralized Control</h3>
        <div class="content">Take command of the music at each of your locations or offices - all from a single, easy-to-use control panel.</div>
        <h3><i class="fa fa-tag"></i>&nbsp;Branding Control</h3>
        <div class="content">Different stores or locations require unique music?  You can support your brand's special needs all from the home office.</div>
      </div>
      <div class="col-md-6">
        <h3><i class="fa fa-building"></i>&nbsp;Location Monitoring</h3>
        <div class="content">Want to know what's playing right now in any of your locations?  We make it easy with our innovative management tools.</div>
        <h3><i class="fa fa-table"></i>&nbsp;Management Reporting</h3>
        <div class="content">Get a centralized report on the music from all your locations in a simple yet powerful format.</div>
      </div>
    </div>
  </div>
</div>
