<div class="row message-schedules-container default-container">
  <div class="col-md-12">
    <div class="admin-toolbar left-right header">
      <div class="left-side empty"></div>
      <div class="right-side">
        <a ng-show="userPerms.isMessageAdmin || userPerms.canManageMessages" class="btn btn-success add-message-schedule" ng-click="addNewSchedule()"><i class="fa fa-plus"></i> Create Schedule</a>
        <input class="form-control filter" search-field placeholder="Search Schedules" ng-model="query" ng-change="search()">
      </div>
    </div>
    <div class="message-schedules table-container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="active-streaming sortable schedule-name" ng-click="order('name')">
              <h2>
                <span tooltip="Sort by Schedule Name" tooltip-placement="top">Schedules</span>
                <span class="fa" ng-show="orderBy === 'name'" ng-class="{ 'fa-caret-down': reverse, 'fa-caret-up': !reverse }"></span>
              </h2>
            </th>
            <th class="active-streaming sortable" ng-click="order('isGlobal')" ng-show="entStatus.isEnterprise">
              <h2 ng-show="entStatus.isEnterprise">
                <span tooltip="Sort by Global" tooltip-placement="top">Global</span>
                <span class="fa" ng-show="orderBy === 'isGlobal'" ng-class="{ 'fa-caret-down': reverse, 'fa-caret-up': !reverse }"></span>
              </h2>
            </th>
            <th class="active-streaming sortable streaming-status text-center" ng-show="entStatus.isEnterprise" ng-click="order('isActive')">
                <h2>
                  <span tooltip="Sort by In Use" tooltip-placement="top">In Use</span>
                  <span class="fa" ng-show="orderBy === 'isActive'" ng-class="{ 'fa-caret-down': reverse, 'fa-caret-up': !reverse }"></span>
                </h2>
              </th>
            <th class="active-streaming sortable" ng-click="order('username')">
              <h2>
                <span tooltip="Sort by Created By User" tooltip-placement="top">Created By</span>
                <span class="fa" ng-show="orderBy === 'username'" ng-class="{ 'fa-caret-down': reverse, 'fa-caret-up': !reverse }"></span>
              </h2>
            </th>
            <th class="row-actions" colspan="2">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="schedule in filteredSchedules = (schedules | itemsPerPage: pageSize)">
            <td class="note schedule-name">
              <div class="schedule-name">{{schedule.name}}</div>
            </td>
            <td class="note global" ng-if="entStatus.isEnterprise">
              <div class="schedule-global">{{schedule.isGlobal ? 'Global' : ''}}</div>
            </td>
            <td class="text-center">
              <span ng-if="schedule.isActive == 1"><span class="useractive"></span></span>
            </td>
            <td class="note created-by">
              <div class="schedule-created-by">{{schedule.username}}</div>
            </td>
            <td class="actions">
              <a
                class="btn btn-default"
                ng-class="{ 'disabled': schedule.isDuplicating }"
                tooltip-placement="bottom"
                tooltip="Duplicate Schedule"
                ng-show="userPerms.isMessageAdmin || userPerms.canManageMessages"
                ng-click="duplicateMessageSchedule($index,schedule.scheduleid)"
              >
                <i
                  class="fa"
                  ng-class="{
                    'fa-copy': !schedule.isDuplicating,
                    'fa-spin': schedule.isDuplicating,
                    'fa-spinner': schedule.isDuplicating
                  }"></i>
              </a>
              <a ng-click="changelocation('/admin/messages/schedule/' + schedule.scheduleid + '/edit')"
                 class="btn btn-default"
                 ng-show="userPerms.isMessageAdmin || me.user.userid == schedule.userid"
                 tooltip-placement="bottom"
                 tooltip="Edit Schedule"
              >
                <i class="fa fa-pencil"></i>
              </a>
              <a
                 class="btn btn-default"
                 ng-show="userPerms.isMessageAdmin || me.user.userid == schedule.userid"
                 tooltip-placement="bottom"
                 tooltip="Delete Schedule"
                 ng-click="deleteMessageSchedule($index,schedule.scheduleid)"
              >
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
          <tr ng-hide="filteredSchedules.length">
            <td colspan="6">
              <strong>No results found <span ng-show="query.length > 0">for search term <em>{{query}}</em></span></strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-controls">
      <dir-pagination-controls></dir-pagination-controls>
      <div class="pull-right">
        <div class="form-inline count-per-page">
          Schedules Per Page:
          <select class="form-control" id="pageSize" ng-model="pageSize">
            <option ng-value="50">50</option>
            <option ng-value="100">100</option>
            <option ng-value="300">300</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
