<div class="row default-container">
  <div class="col-md-7 billing-admin">
    <div class="default-block" ng-if="me.account.recurly || inTrial">
      <h2>Subscription Information</h2>
      <div ng-if="cancelled" class="subscription-row cancelled-subscription">
        <h4>Subscription Cancelled</h4>
        <div class="content">Your subscription expires on {{expiration}} and you will no longer be billed.</div>
      </div>
      <div class="nav">
        <a class="btn btn-success btn-xs" ng-click="changelocation('/admin/billing/upgrade')" ng-hide="cancelled" ><i class="fa fa-arrow-up"></i>Change Plan</a>
        <a class="btn btn-danger btn-xs" ng-click="changelocation('/admin/billing/cancel')" ng-hide="inTrial || cancelled"><i class="fa fa-ban"></i>Cancel</a>
      </div>
      <h4>{{subscription_pretty}}</h4>
      <div class="subscription-row final">
        <table>
          <tr>
            <td class="name-small">
              <div class="line1">
                {{subscription.quantity}} x {{subscription.quantity > 1 ? "Locations" : "Location"}} (${{subscription.unit_amount_in_cents / 100 | number:2}}/{{subscription_billing_frequency}})<small ng-if="::isSubscriptionPlanAnnual"> &mdash; Annual Discount</small>
              </div>
              <div class="line1" ng-if="addonStreams">
                {{addonStreams.quantity._}} x Additional {{addonStreams.quantity._ > 1 ? "Zones" : "Zone"}} (${{addonStreams.unit_amount_in_cents._ / 100 | number:2}}/{{subscription_billing_frequency}})<small ng-if="::isSubscriptionPlanAnnual"> &mdash; Annual Discount</small>
              </div>
            </td>
            <td class="price">
              ${{totalCost | number:2}}
            </td>
          </tr>
        </table>
      </div>
      <h4 ng-if="couponList.length > 0"><i class="fa fa-tag"></i> Coupons</h4>
      <div class="subscription-row final coupon-list" ng-if="couponDetails">
        <div class="coupon" ng-repeat="coupon in couponDetails">
          <span class="coupon-code">{{coupon.coupon_code}}</span>
          <span class="description">- {{coupon.invoice_description}} <span ng-if="coupon.qty_redeemed">({{coupon.qty_redeemed}} redemptions)</span></span>
        </div>
      </div>
      <div class="subscription-row trial" ng-show="inTrial && !cancelled">
        <div class="name">Your Account is currently in trial</div>
        <div class="subname">Your free trial will expire on {{subscription.trial_ends_at | date:'MM/dd/yyyy'}}.</div>
      </div>
    </div>
    <div class="billing-upgrade" ng-if="me.account.recurly && (!inTrial && !cancelled)">
      <input type="text" class="coupon-input" placeholder="Coupon Code" ng-change="updateCouponCode()" ng-model="addCoupon.code" ng-model-options="{debounce:1000}"></input>
      <a class="btn btn-success apply-coupon" ng-click="applyCoupon()" ng-disabled="!coupon" ng-class="{disabled: !coupon}">Apply</a>
      <div class="coupon-status" ng-if="coupon || coupon_error">
        <span ng-show="coupon.discount_type" class="info">{{coupon.invoice_description}}</span>
        <span ng-show="coupon_error" class="coupon-error">{{coupon_error}}</span>
      </div>
    </div>
    <div class="default-block">
      <h2>Account Contact Information</h2>
      <div class="nav">
        <a class="btn btn-success btn-xs" ng-click="changelocation('/admin/account/edit')">Edit</a>
      </div>
      <div class="subscription-row creditcard">
        <div class="title">Business Name</div>
        <div class="content">{{account_contact.name}}</div>
        <div class="title">Full Name</div>
        <div class="content">{{account_contact.contact_name}}</div>
        <div class="title">Email</div>
        <div class="content">{{account_contact.email}}</div>
        <div class="title">Phone Number</div>
        <div class="content">{{account_contact.phone}}</div>
      </div>
      <h2>IT Contact Information</h2>
      <div class="subscription-row creditcard">
        <div class="title">Name</div>
        <div class="content">{{account_contact.it_name}}</div>
        <div class="title">Email</div>
        <div class="content">{{account_contact.it_email}}</div>
        <div class="title">Phone Number</div>
        <div class="content">{{account_contact.it_phone}}</div>
      </div>
    </div>
    <div class="default-block" ng-if="me.permissions.account.owner">
      <h2>Corporate Mailing Address</h2>
      <div class="nav">
        <a class="btn btn-success btn-xs" ng-click="changelocation('/admin/corporateaddress/edit')">Edit</a>
      </div>
      <div class="subscription-row creditcard" ng-if="account_contact.street_address && account_contact.state && account_contact.city && account_contact.zipcode">
        <div class="title">Street Address</div>
        <div class="content">{{account_contact.street_address}}</div>
        <div class="title">City</div>
        <div class="content">{{account_contact.city}}</div>
        <div class="title">State / Province</div>
        <div class="content">{{account_contact.state}}</div>
        <div class="title">Country</div>
        <div class="content">{{account_contact.country}}</div>
        <div class="title">ZIP / Postal</div>
        <div class="content">{{account_contact.zipcode}}</div>
      </div>
      <div class="subscription-row creditcard" ng-if="!account_contact.street_address && !account_contact.state && !account_contact.city && !account_contact.zipcode">
        <div class="title">You have not entered your "Corporate Mailing Address" please click on Edit button to fill/update the same.</div>
      </div>
    </div>
    <div class="default-block billing-admin">
      <h2><a href="https://media.cloudcovermusic.com/Cloud_Cover_Media_Terms_and_Conditions.pdf" target="_blank">Terms and Conditions - Updated 11/24/2021</a></h2>
    </div>
  </div>
  <div class="col-md-5">
    <div class="default-block billing-admin" ng-if="subscriptionInfo.hasPayment">
      <h2>Credit Card Details</h2>
      <div ng-hide="account_contact.has_private_billing || cancelled" class="nav">
        <div class="btn btn-success btn-xs" ng-click="showUpdateCardForm()"><i class="fa fa-credit-card"></i>Update</div>
      </div>
      <div ng-show="subscription.paymentInfo.last_four && !account_contact.has_private_billing" class='subscription-row creditcard'>
        <div class="title">Full Name</div>
        <div class="content">{{subscription.paymentInfo.first_name}} {{subscription.paymentInfo.last_name}}</div>
        <div class="title">Credit Card</div>
        <div class="content">XXXX-{{subscription.paymentInfo.last_four}} ({{subscription.paymentInfo.card_type}})<br>Exp: {{subscription.paymentInfo.expiration}}</div>
        <div class="title">Billing Address</div>
        <div class="content">
          {{subscription.paymentInfo.street}} <span ng-if="subscription.paymentInfo.street2.length">, {{subscription.paymentInfo.street2}}</span><br>
          {{subscription.paymentInfo.city}}, {{subscription.paymentInfo.state}} {{subscription.paymentInfo.zipcode}}<br>
          {{subscription.paymentInfo.country}}
        </div>
        <div class="admin-billing-button">
          <button class="btn btn-danger btn-xs" ng-click="privatize()"><i class="fa fa-lock"></i>Hide Billing Info</button>
        </div>
      </div>
      <div class="creditcard" ng-show="subscription.paymentInfo.last_four && account_contact.has_private_billing">
        <div class="title">Privatized Billing - contact <a ng-click="changelocation('/admin/support')">Cloud Cover Support</a> for changes</div>
      </div>
      <div ng-hide="subscription.paymentInfo.last_four" class='creditcard'>
        <div class="title">No Credit Card on file</div>
      </div>
    </div>
  </div>
  <div class="col-md-5" ng-if="me.account.recurly">
    <div class="default-block billing-admin">
      <h2>Payment Method</h2>
      <div ng-if="collectionMethod === 'manual'" class="subscription-row creditcard">
        <div class="title">Your account is currently set up for Manual Billing:</div>
        <div class="content">
          CHECK PAYMENT <br>
          Cloud Cover Music Inc.<br>
          999 North Pacific Coast Highway, Suite 500<br>
          El Segundo, CA 90245
        </div>
      </div>
      <div ng-if="collectionMethod === 'automatic' && hasDiscount" class="subscription-row creditcard">
        <div class="title">Your account is currently set up for Automatic Billing</div>
        <div class="content">Manual payment is available with 12 month billing by clicking below:</div>
        <div class="admin-billing-button">
          <button class="btn btn-xs" ng-click="setManualBilling()"><i class="fa fa-money"></i>Check Payment</button>
        </div>
      </div>
      <div ng-if="collectionMethod === 'automatic' && !hasDiscount" class="subscription-row creditcard">
        <div class="title">Your account is currently set up for Automatic Billing</div>
        <div class="content">Manual payment is only available with 12 month billing.</div>
      </div>
    </div>
  </div>
  <div class="col-md-5 billing-invoice" ng-if="me.account.recurly && (me.permissions.account.owner || me.permissions.account.payment) && (!me.account.has_private_billing && !account_contact.has_private_billing)">
    <div class="default-block billing-admin">
      <h2>Invoices</h2>
      <div class="subscription-row invoices">
        <div class="table-container">
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th><div class="header-cell">Invoice</div></th>
                  <th><div class="header-cell">Issued On</div></th>
                  <th><div class="header-cell">Status</div></th>
                  <th><div class="header-cell total">Total</div></th>
                  <th><div class="header-cell download">Action</div></th>
                </tr>
              </thead>
              <tbody>
                <tr dir-paginate="invoice in invoices|itemsPerPage:10">
                  <td class="note"><div>#{{invoice.invoiceNumber}}</div></td>
                  <td class="note"><div>{{invoice.issuedOn}}</div></td>
                  <td class="note status"><div>{{invoice.status}}</div></td>
                  <td class="note total"><div>{{invoice.totalAmount}}</div></td>
                  <td class="note download">
                    <i class="fa fa-download"
                      ng-click="downloadPdf(invoice)"
                      ng-show="invoice.status === 'Paid' && !invoice.isLoading"
                      tooltip="Download invoice" tooltip-placement="left"></i>
                    <i class="fa fa-credit-card"
                      ng-click="openInvoiceUrl(invoice)"
                      ng-show="invoice.status !== 'Paid' && !invoice.isLoading"
                      tooltip="Make payment" tooltip-placement="left"></i>
                    <i class="fa fa-spinner fa-spin invoice-loading" ng-show="invoice.isLoading"></i>
                  </td>
                </tr>
                <tr ng-show="invoices === null">
                  <td colspan="6">
                    <span>Unable to retrieve invoices at this time. Please try again in a few hours.</span>
                  </td>
                </tr>
                <tr ng-show="invoices !== null && invoices.length === 0">
                  <td colspan="6">
                    <strong>No invoices found</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="pagination-controls" ng-show="invoices.length">
        <dir-pagination-controls max-size="5"></dir-pagination-controls>
      </div>
      <div class="note" ng-show="invoices.length>=50">
        Looking for older invoices? Contact our Billing Team at <a href="mailto:subscription@cloudcovermusic.com">subscription@cloudcovermusic.com</a>
      </div>
    </div>
  </div>
</div>
