<div class="container company-stations">
  <div>
    <ol class="breadcrumb hidden-xs" aria-label="breadcrumb">
      <li></li>
      <li class="pull-right">
        <a href="https://help.cloudcovermusic.com/en/articles/3480927-how-to-use-company-selections" target="_blank" rel="noopener">
          <span>How to: Set Up Company Selections<i class="fa fa-external-link fa-push-left"></i></span>
        </a>
      </li>
    </ol>
    <div class="visible-xs help-link-xs">
      <a href="https://help.cloudcovermusic.com/articles/" target="_blank" rel="noopener">
        <span><i class="fa fa-question-circle"></i></span>
      </a>
    </div>

    <form class="form-inline" name="vm.formController">
      <div class="edit-company-stations-header">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="has-tooltip"><i class="fa fa-list-alt"></i>Company Selections</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="instructions" ng-show="vm.canLimitLocations">
              Select the Stations, Mixes and Dayparts that are approved by your company, then select the location(s) to limit them.
              <a class="top-locations-link" href=""
                ng-show="vm.formData.is_active"
                ng-click="vm.scrollTo('location-limitations')">
                <i class="fa fa-angle-double-down"></i>
                Select locations to limit
              </a>
            </div>
          </div>
        </div>
        <div class="row" ng-if="::vm.userPerms.isAccountOwner">
          <div class="col-sm-12">
            <div class="locations-toolbar location-default enable-company-stations row">
              <form novalidate>
                <div class="explanation">Enable Company Selections?</div>
                <div class="cs-yes">
                  <label for="toggle-company-stations-1">
                    <input id="toggle-company-stations-1" name="toggleCompanySelections" type="radio"
                      ng-disabled="vm.isOrganizationCompanyStationsEnabled"
                      ng-model="vm.formData.is_active"
                      ng-change="vm.onCompanyStationsActiveChange()"
                      ng-value="1">
                    <span>On</span>
                  </label>
                </div>
                <div class="cs-no">
                  <label for="toggle-company-stations-0">
                    <input id="toggle-company-stations-0" name="toggleCompanySelections" type="radio"
                      ng-disabled="vm.isOrganizationCompanyStationsEnabled"
                      ng-model="vm.formData.is_active"
                      ng-change="vm.onCompanyStationsActiveChange()"
                      ng-value="0">
                    <span>Off</span>
                  </label>
                </div>
                <button class="btn btn-success" type="button"
                  ng-show="vm.showIsActiveSubmitBtn"
                  ng-click="vm.submit()">
                  <i class="fa fa-check fa-push-right"></i><span></span>Save Changes
                </button>
              </form>
              <p class="text-info" ng-if="::vm.isOrganizationCompanyStationsEnabled"><strong>Company selections have been selected by your organization and cannot be modified.</strong></p>
            </div>
          </div>
        </div>
      </div>

      <div class="container" ng-show="vm.formData.is_active && !vm.isOrganizationCompanyStationsEnabled">

        <div class="subheading">
          <h2>Choose Company Approved Selections</h2>
        </div>

        <div class="row create-company-station">
          <div class="float-sm-left source-playlist-column">
            <tabset active="vm.activeTab">

              <tab index="0">
                <tab-heading>
                  <i class="fa fa-music"></i> Stations
                </tab-heading>
                <div class="source-playlists stations">
                  <div class="stations-scrollable">
                    <public-station-filter class="" template-url="partials/generic_public_station_filter.html" filter-method="vm.filterDataset(filterStatus, filterList, searchQuery)" search-query="vm.ccmStationQuery" ng-class="{open: filterMenuOpen}"></public-station-filter>

                    <div class="list-results">
                      <div class="cs-header">
                        <div class="company-ccm-search search-form">
                          <div class="form-group station-search-form-group">
                            <input class="form-control" type="text" maxlength="100" placeholder="Search Stations"
                              ng-model="vm.ccmStationQuery"
                              ng-model-options="{ debounce: 150 }"
                            >
                            <i class="fa fa-search"></i>
                          </div>
                        </div>
                      </div>
                      <div class="playlist-category-heading" ng-show="vm.filterStatus.popular"><i class="fa fa-star-o fa-push-right"></i>Most Popular</div>
                      <div class="playlist-category-heading" ng-show="vm.filterStatus.newest"><i class="fa fa-clock-o fa-push-right"></i>Newest Releases</div>
                      <div class="playlist-category-heading" ng-show="vm.filterStatus.pandora"><img src="../images/pandora.svg" /></div>
                      <div class="playlist-category-heading" ng-show="vm.filterStatus.favorites"><i class="fa fa-heart fa-push-right"></i>Favorites</div>
                      <div class="playlist-category-heading" ng-show="vm.filterStatus.recent"><i class="fa fa-history fa-push-right"></i>Recent</div>
                      <div class="station-active-category-filters" ng-show="vm.selectedStationCategories.length">
                        <i class="fa fa-lg fa-filter fa-push-right"></i>
                        <button class="btn btn-link" type="button"
                                ng-repeat="cat in vm.selectedStationCategories track by $index"
                                ng-click="vm.removePlaylistFilter(cat)">
                          <span class="label label-default"><span class="cat-name" ng-bind="cat.name"></span>&times;</span>
                        </button>
                      </div>

                      <div class="search-results-loading" ng-show="vm.searchResultsLoading">
                        <i class="fa fa-spinner fa-spin"></i>
                      </div>
                      <div class="search-results-empty" ng-show="!vm.searchResultsLoading && !vm.filteredPlaylists.length">
                        <div><i class="fa fa-search"></i></div>
                        <span>No results</span>
                      </div>
                      <div class="list-group" ng-show="!vm.searchResultsLoading">
                        <button class="list-group-item name" type="button"
                          ng-repeat="playlist in vm.filteredPlaylists track by playlist.musicid"
                          ng-click="vm.addPlaylist(playlist)"
                          ng-class="{ 'station-added': vm.playlistAddedId === playlist.playlistid }"
                          ng-if="!vm.checkPlaylist(playlist.musicid)"
                        >
                          <div class="station-container">
                            <div class="station-thumbnail" ng-style="::{'background-image': 'url(' + vm.stationArtUrl + playlist.thumb_url + ')'}"></div>
                            <div class="station-details">
                              <div class="station-name" ng-bind="::playlist.name" tooltip="{{playlist.name}}" tooltip-placement="top" show-tooltip-on-text-overflow tooltip-enable="false" tooltip-append-to-body="true"></div>
                              <div class="station-desc" ng-bind="::playlist.subname" tooltip="{{playlist.subname}}" tooltip-placement="top" show-tooltip-on-text-overflow tooltip-enable="false" tooltip-append-to-body="true"></div>
                            </div>
                            <div class="station-content-rating">
                              <content-rating-icon rating-id="{{playlist.content_rating_id}}" show-tooltip="true" tooltip-append-to-body="true"></content-rating-icon>
                            </div>
                            <div class="station-action">
                              <i class="fa fa-fw fa-plus-circle"></i>
                            </div>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>

              <tab index="1" heading="Dayparts">
                <tab-heading>
                  <i class="fa fa-calendar"></i> Dayparts
                </tab-heading>
                <div class="empty-list" ng-if="!vm.dayparting.length">
                  <span>You do not currently have any dayparts created</span>
                  <button class="btn btn-primary" ng-click='changelocation("/admin/createpreset")'>Create Daypart</button>
                </div>
                <div class="source-playlists dayparts" ng-if="vm.dayparting.length">
                  <div class="cs-header">
                    <div class="company-daypart-search search-form">
                      <div class="form-group station-search-form-group">
                        <input class="form-control" type="text" maxlength="100" placeholder="Search Dayparts" ng-model="vm.daypartQuery" ng-model-options="{ debounce: 150 }">
                        <i class="fa fa-search"></i>
                      </div>
                    </div>
                  </div>
                  <div class="stations-scrollable">
                    <div class="search-results-empty" ng-show="!filteredDayparts.length">
                      <div><i class="fa fa-search"></i></div>
                      <span>No results</span>
                    </div>
                    <div class="list-group">
                      <button class="list-group-item name" type="button"
                        ng-repeat="daypart in filteredDayparts = (vm.dayparting | filterAdminCompanyStation: vm.daypartQuery) track by daypart.musicid"
                        ng-class="{ 'station-added': vm.playlistAddedId === daypart.daypartid }"
                        ng-click="vm.addPlaylist(daypart)"
                        ng-hide="vm.checkPlaylist(daypart.musicid)"
                      >
                        <div class="station-container no-image">
                          <div class="station-details daypart">
                            <div class="station-name" ng-bind="::daypart.name" tooltip="{{daypart.name}}" tooltip-placement="top" show-tooltip-on-text-overflow tooltip-enable="false" tooltip-append-to-body="true"></div>
                            <div class="station-owner" ng-if="vm.checkNotMe(daypart.userid)">Owner {{daypart.username}}</div>
                          </div>
                          <div class="station-action">
                            <i class="fa fa-fw fa-plus-circle"></i>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </tab>

              <tab index="2">
                <tab-heading>
                  <i class="fa fa-random"></i> Mix Stations
                </tab-heading>
                <div class="empty-list" ng-if="!vm.mixes.length">
                  <span>You do not currently have any mix stations created</span>
                  <button class="btn btn-primary" ng-click='changelocation("/admin/mix/create")'>Create Mix Station</button>
                </div>
                <div class="source-playlists mixes" ng-if="vm.mixes.length">
                  <div class="cs-header">
                    <div class="company-mix-search search-form">
                      <div class="form-group station-search-form-group">
                        <input class="form-control" type="text" maxlength="100" placeholder="Search Mix Stations" ng-model="vm.mixStationQuery" ng-model-options="{ debounce: 150 }">
                        <i class="fa fa-search"></i>
                      </div>
                    </div>
                  </div>
                  <div class="stations-scrollable">
                    <div class="search-results-empty" ng-show="!filteredMixes.length">
                      <div><i class="fa fa-search"></i></div>
                      <span>No results</span>
                    </div>
                    <div class="list-group">
                      <button class="list-group-item name" type="button"
                        ng-repeat="mix in filteredMixes = (vm.mixes | filterAdminCompanyStation: vm.mixStationQuery) track by mix.musicid"
                        ng-class="{ 'station-added': vm.playlistAddedId === mix.mixid }"
                        ng-click="vm.addPlaylist(mix)"
                        ng-hide="vm.checkPlaylist(mix.musicid)"
                      >
                        <div class="station-container no-image">
                          <div class="station-details">
                            <div class="station-name" ng-bind="::mix.name" tooltip="{{mix.name}}" tooltip-placement="top" show-tooltip-on-text-overflow tooltip-enable="false" tooltip-append-to-body="true"></div>
                            <div class="station-owner" ng-if="vm.checkNotMe(mix.userid)">Owner {{mix.username}}</div>
                          </div>
                          <div class="station-content-rating">
                            <content-rating-icon
                              ng-repeat="rating in mix.ratingList track by $index"
                              rating-id="{{rating}}"
                              show-tooltip="true"
                              tooltip-append-to-body="true"
                            >
                            </content-rating-icon>
                          </div>
                          <div class="station-action">
                            <i class="fa fa-fw fa-plus-circle"></i>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </tab>

            </tabset>
          </div>
          <div class="float-sm-right company-station-column">
            <div class="company-station-details">
              <div class="companystations">
                <div class="heading">
                  <h2>Your Company Approved Selections</h2>
                </div>
                <div class="content">
                  <div class="container stations">
                    <label><i class="fa fa-music"></i> Stations</label>
                    <div ng-repeat="playlist in vm.formData.companyStationDetails | orderBy: 'name' track by playlist.musicid">
                      <div class="companystation" ng-if="playlist.type === 'playlist'">
                        <div class="station-container">
                          <div class="station-thumbnail" ng-style="::{'background-image': 'url(' + vm.stationArtUrl + playlist.thumb_url + ')'}"></div>
                          <div class="station-details">
                            <div class="station-name" ng-bind="::playlist.name" tooltip="{{playlist.name}}" tooltip-placement="top" show-tooltip-on-text-overflow tooltip-enable="false" tooltip-append-to-body="true"></div>
                            <div class="station-desc" ng-bind="::playlist.subname" tooltip="{{playlist.subname}}" tooltip-placement="top" show-tooltip-on-text-overflow tooltip-enable="false" tooltip-append-to-body="true"></div>
                          </div>
                          <div class="station-content-rating">
                            <content-rating-icon rating-id="{{playlist.content_rating_id}}" show-tooltip="true" tooltip-append-to-body="true"></content-rating-icon>
                          </div>
                          <div class="station-action pull-right">
                            <i class="btn btn-xs btn-link btn-link-muted fa fa-times" ng-click="vm.removePlaylist(playlist)"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="empty-set" ng-if="vm.companyStationPlaylistCount < 1">
                      <i class="fa fa-2x fa-tasks"></i>
                      No stations added
                    </div>
                  </div>
                  <div class="container dayparts" ng-if="vm.dayparting.length">
                    <label><i class="fa fa-calendar"></i> Dayparts</label>
                    <div ng-repeat="daypart in vm.formData.companyStationDetails | orderBy: 'name' track by daypart.musicid">
                      <div class="companystation" ng-if="daypart.type === 'dayparting'">
                        <div class="station-container no-image">
                          <div class="station-details">
                            <div class="station-name" ng-bind="::daypart.name" tooltip="{{daypart.name}}" tooltip-placement="top" show-tooltip-on-text-overflow tooltip-enable="false" tooltip-append-to-body="true"></div>
                            <div class="station-owner" ng-if="vm.checkNotMe(daypart.userid)">Owner {{daypart.username}}</div>
                          </div>
                          <div class="station-action pull-right">
                            <i class="btn btn-xs btn-link btn-link-muted fa fa-times" ng-click="vm.removePlaylist(daypart)"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="empty-set" ng-if="vm.companyStationDaypartCount < 1">
                      <i class="fa fa-2x fa-tasks"></i>
                      No dayparts added
                    </div>
                  </div>
                  <div class="container mixes" ng-if="vm.mixes.length">
                    <label><i class="fa fa-random"></i> Mix Stations</label>
                    <div ng-repeat="mix in vm.formData.companyStationDetails | orderBy: 'name' track by mix.musicid">
                      <div class="companystation" ng-if="mix.type === 'mix'">
                        <div class="station-container no-image">
                          <div class="station-details">
                            <div class="station-name" ng-bind="::mix.name" tooltip="{{mix.name}}" tooltip-placement="top" show-tooltip-on-text-overflow tooltip-enable="false" tooltip-append-to-body="true"></div>
                            <div class="station-owner" ng-if="vm.checkNotMe(mix.userid)">Owner {{mix.username}}</div>
                          </div>
                          <div class="station-content-rating">
                            <content-rating-icon
                              ng-repeat="rating in mix.ratingList track by $index"
                              rating-id="{{rating}}"
                              show-tooltip="true"
                              tooltip-append-to-body="true"
                            >
                            </content-rating-icon>
                          </div>
                          <div class="station-action pull-right">
                            <i class="btn btn-xs btn-link btn-link-muted fa fa-times" ng-click="vm.removePlaylist(mix)"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="empty-set" ng-if="vm.companyStationMixCount < 1">
                      <i class="fa fa-2x fa-tasks"></i>
                      No mix stations added
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right submit-button-container">
                <button class="btn btn-success ccm-large-button" type="submit"
                  ng-disabled="vm.shouldDisableSubmitButton()"
                  ng-click="vm.submit()">
                  <i
                    class="fa fa-push-right"
                    ng-class="{ 'fa-spin': vm.isSaving, 'fa-spinner': vm.isSaving, 'fa-check': !vm.isSaving }"
                  ></i><span>Save Company Approved Selections</span>
                </button>
              </div>
            </div>
          </div>

        </div>
        <div class="row toolbar" ng-if="vm.canLimitLocations">
          <div class="col-xs-6 bottom-locations-link">
            <a href="" ng-click="vm.scrollTo('location-limitations')">
              <i class="fa fa-angle-double-down"></i>
              Select locations to limit
            </a>
          </div>
        </div>

      </div>

    </form>

    <div id="location-limitations" ng-if="vm.canLimitLocations && vm.formData.is_active"></div>

    <div class="container" ng-if="vm.canLimitLocations && vm.formData.is_active">

      <div class="subheading">
        <h2>Limit Locations to Company <span class="hidden-xs">Approved</span> Selections</h2>
      </div>

      <div class="locations-toolbar location-default row" ng-if="vm.userPerms.isAccountOwner">
        <form>
          <div class="explanation">Default when adding a location:</div>
          <div class="cs-yes">
            <label for="default-company-selections-1">
              <input id="default-company-selections-1" type="radio" name="defaultCompanySelections"
                ng-disabled="vm.companyStation.is_locked_by_franchisor"
                ng-value="1"
                ng-model="vm.locationDefault"
                ng-change="vm.updateDefaultCompanySelections()"
              >
              <span>Use company selections</span>
            </label>
          </div>
          <div class="cs-no">
            <label for="default-company-selections-0">
              <input id="default-company-selections-0" type="radio" name="defaultCompanySelections"
                ng-disabled="vm.companyStation.is_locked_by_franchisor"
                ng-value="0"
                ng-model="vm.locationDefault"
                ng-change="vm.updateDefaultCompanySelections()"
              >
              <span>Don't use company selections</span>
            </label>
          </div>
        </form>

        <form novalidate ng-show="vm.formData.is_active && vm.companyStation.is_franchisor">
          <div class="explanation">Allow franchisee account owners to toggle Company Selections?</div>
          <div class="cs-yes">
            <label for="lock-company-selections-1">
              <input id="lock-company-selections-1" type="radio" name="lockCompanySelections"
                ng-value="0"
                ng-model="vm.formData.franchisee_lock"
                ng-change="vm.updateFranchiseeLock()"
              >
              <span>Yes</span>
            </label>
          </div>
          <div class="cs-no">
            <label for="lock-company-selections-0">
              <input id="lock-company-selections-0" type="radio" name="lockCompanySelections"
                ng-value="1"
                ng-model="vm.formData.franchisee_lock"
                ng-change="vm.updateFranchiseeLock()"
              >
              <span>No</span>
            </label>
          </div>
        </form>

      </div>

      <div class="location-instructions">
        Select locations to apply company approved selections.
        <strong>These changes will take effect immediately.</strong>
      </div>

      <div class="row locations-container">
        <div class="col-md-12">
          <div class="locations">
            <div class="locations-toolbar header row">
              <div class="col-xs-12 col-md-6 location-filter">
                <input class="form-control filter location-filter" search-field placeholder="Search Location or Address" ng-model="vm.query">
                <i class="fa fa-search"></i>
              </div>
              <div class="col-xs-12 col-md-6 cs-toggle-all">
                <div class="toggle-company-stations-on-all text-right">
                  <span>Limit All Locations</span>
                  <tri-toggle
                    ng-model="vm.toggleAllForCompanyStationsFlag"
                    show-labels=true
                    set-state="vm.setState(state)"
                    toggle-guard="true"
                    guard-truth-message="vm.guardTruthMessage"
                    guard-false-message="vm.guardFalseMessage"
                    guard-method="vm.toggleCompanyStationsOnAllLocations(value)"
                    disabled="vm.companyStation.is_locked_by_franchisor"
                  >
                  </tri-toggle>
                </div>
              </div>
            </div>
            <div class="table-container">
              <div>
                <div class="container">
                  <div class="table-header">
                    <div class="row">
                      <div class="sortable location-name" ng-click="vm.orderLocations('username')">
                        <div class="header-cell" ng-class="{'order-by': vm.orderBy === 'username'}">
                          <span>Location</span>
                          <span class="fa " ng-show="vm.orderBy === 'username'" ng-class="{ 'fa-caret-down': vm.reverse, 'fa-caret-up': !vm.reverse }"></span>
                        </div>
                      </div>
                      <div class="sortable address" ng-click="vm.orderLocations('address')">
                        <div class="header-cell" ng-class="{'order-by': vm.orderBy === 'address'}">
                          <span>Address</span>
                          <span class="fa " ng-show="vm.orderBy === 'address'" ng-class="{ 'fa-caret-down': vm.reverse, 'fa-caret-up': !vm.reverse }"></span>
                        </div>
                      </div>
                      <div class="sortable has-company-stations" ng-click="vm.orderLocations('has_company_stations')">
                        <div class="header-cell" ng-class="{'order-by': vm.orderBy === 'has_company_stations'}">
                          <span>Limit Location(s)</span>
                          <span class="fa " ng-show="vm.orderBy === 'has_company_stations'" ng-class="{ 'fa-caret-down': vm.reverse, 'fa-caret-up': !vm.reverse }"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table-body">
                    <div class="row" dir-paginate="location in filteredLocations = (vm.locations | filter: vm.locationSearch() | orderBy:vm.orderBy:vm.reverse | itemsPerPage: vm.pageSize)">
                      <div class="location-name">
                        <div class="note table-cell">
                          <div class="location-username" tooltip="{{location.username}}" tooltip-placement="top" tooltip-append-to-body="true">
                            <span ng-if="location.isAdmin"><i class="fa fa-user"></i>&nbsp;&nbsp;</span>{{location.username}}
                          </div>
                        </div>
                      </div>
                      <div class="address">
                        <div class="note table-cell" tooltip="{{location.address}}" tooltip-placement="top" tooltip-append-to-body="true">
                          {{location.address}}
                        </div>
                      </div>
                      <div class="has-company-stations">
                        <div class="table-cell">
                          <i class="fa"
                            ng-click="vm.toggleCompanyStationsOnLocation(location.userid)"
                            ng-class="{'fa-toggle-on': location.has_company_stations, 'fa-toggle-off': !location.has_company_stations, 'disabled': vm.companyStation.is_locked_by_franchisor}"
                          ></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="empty-results">
                    <div class="row" ng-hide="filteredLocations.length">
                      <div class="col-xs-12">
                        <strong>No results found <span ng-show="vm.query.length > 0">for search term <em>{{vm.query}}</em></span></strong>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="pagination-controls" ng-show="filteredLocations.length">
            <dir-pagination-controls max-size="5"></dir-pagination-controls>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
