<div class="container">
  <div class="ccm-edit-screen-with-back-button edit-admin">
    <div class="header">
      <ol class="breadcrumb" aria-label="breadcrumb">
        <li><a class="back-button" ng-click="clickBackButton()"><i class="fa fa-long-arrow-left fa-push-right"></i>Back to Admins</a></li>
      </ol>
      <div class="edit-admin-header">
        <h1><span ng-bind="::isEditing ? 'Edit' : 'Create an'"></span> Admin Account</h1>
      </div>
    </div>
    <div class="content-form">
      <form ng-submit="submit()" name="editadmin">
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <div class="row">
              <div class="form-group col-xs-6">
                <label>Username</label>
                <div ng-if="::!isEditing">
                  <input ensure-unique="username" name="username" ng-minlength="4" ng-maxlength="60" ng-model="formdata.username" class="form-control" type="text" placeholder="The Admin Username" required>
                  <div class="error" ng-show="editadmin.username.$dirty && editadmin.username.$invalid">
                    <small class="error" ng-show="editadmin.username.$error.required">Please input a username</small>
                    <small class="error" ng-show="editadmin.username.$error.minlength">Your username is required to be at least 4 characters</small>
                    <small class="error" ng-show="editadmin.username.$error.maxlength">Your username cannot be longer than 60 characters</small>
                    <small class="error" ng-show="editadmin.username.$error.unique">This username is already in use</small>
                    <small class="error" ng-show="editadmin.username.$error.chars">You are allowed to use A-Z, 0-9, - and _</small>
                  </div>
                </div>
                <div ng-if="::isEditing">
                  <p>{{formdata.username}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div ng-if="!isEditing" class="form-group col-xs-6">
                <label>Password</label>
                <input class="form-control" type="password" name="password" placeholder="Your Password" required
                  ng-model="formdata.password"
                  ng-minlength="8"
                  ng-maxlength="45"
                  ccm-at-least-one-letter
                  ccm-at-least-one-number>
                <p class="help-block validation-error" ng-show="editadmin.password.$dirty && editadmin.password.$invalid">
                  <span ng-show="editadmin.password.$error.required">Please enter a password</span>
                  <span ng-show="editadmin.password.$error.minlength">Password must be at least 8 characters</span>
                  <span ng-show="editadmin.password.$error.maxlength">Password must be at most 45 characters</span>
                  <span ng-show="editadmin.password.$error.ccmAtLeastOneLetter">Password must contain at least one letter</span>
                  <span ng-show="editadmin.password.$error.ccmAtLeastOneNumber">Password must contain at least one number</span>
                </p>
              </div>
              <div ng-if="isEditing" class="form-group col-xs-6">
                <label>New Password</label>
                <input class="form-control" type="password" name="password" placeholder="Leave this field blank if password is not changed"
                       ng-model="formdata.password"
                       ng-minlength="8"
                       ng-maxlength="45"
                       ccm-at-least-one-letter
                       ccm-at-least-one-number>
                <p class="help-block validation-error" ng-show="editadmin.password.$dirty && editadmin.password.$invalid">
                  <span ng-show="editadmin.password.$error.required">Please enter a password</span>
                  <span ng-show="editadmin.password.$error.minlength">Password must be at least 8 characters</span>
                  <span ng-show="editadmin.password.$error.maxlength">Password must be at most 45 characters</span>
                  <span ng-show="editadmin.password.$error.ccmAtLeastOneLetter">Password must contain at least one letter</span>
                  <span ng-show="editadmin.password.$error.ccmAtLeastOneNumber">Password must contain at least one number</span>
                </p>
              </div>
              <div class="form-group col-xs-6">
                <label ng-if="!isEditing">Confirm Password</label>
                <label ng-if="isEditing">Confirm New Password</label>
                <input ng-model="password_verify" name="confirm_password" class="form-control" type="password" placeholder="Confirm Your Password" password-verify="formdata.password">
                <div class="error" ng-show="editadmin.confirm_password.$dirty && editadmin.confirm_password.$invalid">
                  <small class="error" ng-show="editadmin.confirm_password.$error.passwordVerify">Your password does not match</small>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="form-group col-xs-12">
                <label>Email Address</label>
                <input ng-model="formdata.email" name="email" class="form-control input-lrg" type="email" placeholder="Email address for password retrieval" required>
                <div class="error" ng-show="editadmin.email.$dirty && editadmin.email.$invalid">
                  <small class="error" ng-show="editadmin.email.$error.email">This is not a valid email. Please enter a valid email address.</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="edit-admin-time-zone">Time Zone</label>
                <i class="fa fa-question-circle" tooltip="Used for scheduling and generating Automated Reports." style="margin-left: 5px;"></i>
                <select class="form-control" id="edit-admin-time-zone"
                        ng-model="formdata.timezone"
                        ng-options="value for value in timezones">
                  <option value="">No Time Zone set</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Account Permissions</label>
                  <div class='checkbox'>
                    <label>
                      <input name="billing" type="checkbox" ng-model="formdata.permissions.account.payment"> Billing Administrator
                    </label>
                    <label>
                      <input name="music" type="checkbox" ng-model="formdata.permissions.account.music"> Music Administrator
                    </label>
                    <label>
                      <input name="messages" type="checkbox" ng-model="formdata.permissions.account.messages"> Promotional Message Administrator
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 visible-xs visible-sm">
                <a href="" ng-click="isDisplayed = !isDisplayed">more about permissions <i class="fa fa-question-circle"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 visible-xs visible-sm permissions-help-on-mobile" collapse="!isDisplayed">
                <admin-permissions-help></admin-permissions-help>
              </div>
            </div>
            <div class="row">
              <div ng-if="!isEditing" class="col-xs-12">
                <button type="submit" ng-disabled="editadmin.$invalid || formdata.permissions.account.length == 0" class="btn btn-success">Add Admin</button>
              </div>
              <div ng-if="isEditing" class="col-xs-12">
                <button type="submit" ng-disabled="editadmin.$invalid" class="btn btn-success">Save Admin</button>
                <button type="button" ng-if="!formdata.permissions.account.owner" class="btn btn-warning" ng-click="removeAdmin()">Remove Administrator</button>
              </div>
            </div>
          </div>
          <div class="col-sm-4 visible-md visible-lg">
            <admin-permissions-help></admin-permissions-help>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
