<div class="container">
  <div class="ccm-edit-screen-with-back-button edit-location">
    <div class="header">
      <ol class="breadcrumb" aria-label="breadcrumb">
        <li><a class="back-button" ng-click="clickBackButton()"><i class="fa fa-long-arrow-left fa-push-right"></i>Back to Locations</a></li>
        <li ng-if="::!isEditing" class="pull-right hidden-xs hidden-sm">
          <a href="https://help.cloudcovermusic.com/en/articles/606557-how-to-add-a-new-location" target="_blank" rel="noopener">How to: Add a New Location
            <i class="fa fa-external-link fa-push-left"></i>
          </a>
        </li>
      </ol>
      <div class="edit-location-header">
        <h1><span ng-bind="::isEditing ? 'Edit' : 'Add'"></span> Location</h1>
      </div>
    </div>
    <div class="content-form">
      <form name="editlocation" ng-submit="submit()" class="edit-local">
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <div ng-if="::isEditing">
                    <input id="permissionHistoryInput" value="{{permissionHistory}}" type="hidden">
                  </div>
                  <label>Location Username</label>
                  <div class="username" ng-if="::!isEditing">
                    <input class="form-control" name="username" type="text" required
                           ng-minlength="4"
                           ng-maxlength="60"
                           ng-model="formdata.username"
                           ensure-unique="username">
                    <div class="error" ng-show="editlocation.username.$dirty && editlocation.username.$invalid">
                      <small class="error" ng-show="editlocation.username.$error.required">Please input a location username</small>
                      <small class="error" ng-show="editlocation.username.$error.minlength">Your location username is required to be at least 4 characters</small>
                      <small class="error" ng-show="editlocation.username.$error.maxlength">Your location username cannot be longer than 60 characters</small>
                      <small class="error" ng-show="editlocation.username.$error.unique">This location username is already in use</small>
                      <small class="error" ng-show="editlocation.username.$error.chars">You are allowed to use A-Z, 0-9, - and _</small>
                    </div>
                  </div>
                  <div class="username" ng-if="::isEditing">
                    <p ng-bind="formdata.username"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="edit-location-password" ng-if="::!isEditing">Password</label>
                  <input class="form-control" id="edit-location-password" name="password" type="password"
                         ng-if="::!isEditing"
                         ng-model="formdata.password"
                         ng-minlength="8"
                         ng-maxlength="45"
                         ccm-at-least-one-letter
                         ccm-at-least-one-number>
                  <label for="edit-location-password" ng-if="::isEditing">New Password</label>
                  <input class="locationpassword form-control" type="password" placeholder="Leave this field blank if you don't want to change the password" name="password"
                         ng-if="::isEditing"
                         ng-model="formdata.password"
                         ng-minlength="8"
                         ng-maxlength="45"
                         ccm-at-least-one-letter
                         ccm-at-least-one-number>
                  <p class="help-block validation-error" ng-show="editlocation.password.$dirty && editlocation.password.$invalid">
                    <span ng-show="editlocation.password.$error.minlength">Password must be at least 8 characters</span>
                    <span ng-show="editlocation.password.$error.maxlength">Password must be at most 45 characters</span>
                    <span ng-show="editlocation.password.$error.ccmAtLeastOneLetter">Password must contain at least one letter</span>
                    <span ng-show="editlocation.password.$error.ccmAtLeastOneNumber">Password must contain at least one number</span>
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="edit-location-confirm-password" ng-if="::!isEditing">Confirm Password</label>
                  <label for="edit-location-confirm-password" ng-if="::isEditing">Confirm New Password</label>
                  <input class="form-control" id="edit-location-confirm-password" type="password" name="confirm_password"
                         ng-model="password_verify"
                         password-verify="formdata.password">
                  <div class="error" ng-show="editlocation.confirm_password.$dirty && editlocation.confirm_password.$invalid">
                    <small class="error" ng-show="editlocation.confirm_password.$error.passwordVerify">Your password does not match</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="edit-location-email">Email Address</label>
                  <input class="form-control input-lrg" id="edit-location-email" autocomplete="email" name="email" type="email" required ng-model="formdata.email">
                  <div class="error" ng-show="editlocation.email.$dirty && editlocation.email.$invalid">
                    <small class="error" ng-show="editlocation.email.$error.required">Your email is required.</small>
                    <small class="error" ng-show="editlocation.email.$error.email">Please input a valid email.</small>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="edit-location-phone">Phone Number</label>
                  <input class="form-control" id="edit-location-phone" autocomplete="tel-national" name="phone" type="text" placeholder="10 Digit Location Contact Phone Number" required ng-model="formdata.phone" phone-validator>
                  <div class="error" ng-show="editlocation.phone.$dirty && editlocation.phone.$invalid">
                    <small class="error" ng-show="editlocation.phone.$error.required">10 digit phone number is required.</small>
                    <small class="error" ng-show="editlocation.phone.$error.phoneValidator">Please enter a valid 10 digit phone number.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12 col-sm-8">
                <label for="edit-location-street-address">Location Address for License Reporting</label>
                <input class="form-control location-street" id="edit-location-street-address" autocomplete="street-address address-line1" type="text" placeholder="Street Address" required ng-model="formdata.street">
              </div>
              <div class="form-group col-xs-12 col-sm-4">
                <label class="hidden-xs" for="edit-location-suite">Suite</label>
                <input class="form-control location-suite" id="edit-location-suite" autocomplete="street-address address-line2" type="text"
                       ng-model="formdata.street2">
              </div>
            </div>
            <div class="row city-state-zip">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group city">
                  <label for="edit-location-city">City</label>
                  <input class="form-control" id="edit-location-city" autocomplete="address-level2" type="text" required ng-model="formdata.city">
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="form-group state">
                  <label for="edit-location-state">State / Prov.</label>
                  <select class="form-control" id="edit-location-state" autocomplete="address-level1" required
                          ng-model="formdata.state"
                          ng-change="calculateTax(); calculateProp65();"
                          ng-options="item.abbreviation as item.name for item in statesProvinces"></select>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="form-group zipcode">
                  <label for="edit-location-zip">ZIP / Postal</label>
                  <input class="form-control" id="edit-location-zip" autocomplete="postal-code" name="zipcode" type="text" required
                         ng-class="{ 'invalid-input': invalidInput }"
                         ng-model="formdata.zipcode"
                         ng-change="calculateTax()"
                         ng-pattern="/(^\d{5}(-\d{4})?$)|(^[abceghjklmnprstvxyABCEGHJKLMNPRSTVXY]{1}\d{1}[a-zA-Z]{1} *\d{1}[a-zA-Z]{1}\d{1}$)/">
                  <div class="error" ng-show="editlocation.zipcode.$dirty && editlocation.zipcode.$invalid">
                    <small class="error" ng-show="editlocation.zipcode.$error.required">Zipcode/Postal Code is required.</small>
                    <small class="error" ng-show="editlocation.zipcode.$error.pattern">Please enter a valid Zipcode/Postal Code.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group timezone col-xs-12 col-sm-6">
                <label for="edit-location-time-zone">Location Time Zone</label>
                <select class="form-control" id="edit-location-time-zone"
                        ng-model="formdata.timezone"
                        ng-options="value for value in timezones"></select>
              </div>
            </div>
            <div class="row">
              <div class="form-group location-permissions col-xs-12 col-sm-10" ng-show="subscription.remote">
                <label class="checkbox-group-label">Music Permissions</label><br>
                <div class="form-inline permissions">
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" ng-model="formdata.permissions.user.can_skip"> Skip Songs
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" ng-model="formdata.permissions.user.can_downvote"> Remove Songs
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" ng-model="formdata.permissions.user.can_pause"> Pause
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group location-permissions col-xs-12 col-sm-10" ng-show="subscription.remote">
                <label class="checkbox-group-label">Management Permissions</label>
                <div class="form-inline permissions">
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox4" ng-model="formdata.permissions.user.manage_music"> Manage Music
                  </label>
                  <label class="checkbox-inline" ng-if="messageQuantityAllowedPerPreset">
                    <input type="checkbox" id="inlineCheckbox5" ng-model="formdata.permissions.user.manage_messages"> Manage Messages
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group location-permissions col-xs-12 col-sm-10" ng-show="subscription.remote">
                <label class="checkbox-group-label">Selection Permissions</label>
                <div class="form-inline permissions">
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox6" ng-model="formdata.permissions.user.select_music"> Select Music
                  </label>
                  <label class="checkbox-inline" ng-if="messageQuantityAllowedPerPreset">
                    <input type="checkbox" id="inlineCheckbox7" ng-model="formdata.permissions.user.select_messages"> Select Messages
                  </label>
                  <label class="checkbox-inline">
                    <!--//TODO: Refactor has_company_stations permission save steps to proper implementation. This is a shortcut, directly updating the field in the database-->
                    <input id="inlineCheckbox8" type="checkbox"
                           ng-model="formdata.has_company_stations"
                           ng-true-value="1"
                           ng-false-value="0"
                           ng-change="guardCompanySelections()"
                           > Limit this location to Company Selections
                  </label>
                </div>
              </div>
            </div>
            <div class="row" ng-show="entStatus.isEnterprise">
              <div class="col-sm-10 visible-xs visible-sm">
                <a href="" ng-click="isDisplayed = !isDisplayed">more about permissions <i class="fa fa-question-circle"></i></a>
              </div>
            </div>
            <div class="row" ng-show="entStatus.isEnterprise">
              <div class="col-sm-12 visible-xs visible-sm permissions-help-on-mobile" collapse="!isDisplayed">
                <location-permissions-help></location-permissions-help>
              </div>
            </div>
          </div>
          <div class="col-sm-4 visible-md visible-lg" ng-if="entStatus.isEnterprise">
            <location-permissions-help></location-permissions-help>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-lg-11">
            <div class="order-cloudbox" ng-if="!inTrial && !isEditing">
              <div class="row">
                <div class="form-group col-xs-12 col-lg-11">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-7">
                      <div class="order-device">
                        <h2>Order a CloudBox</h2>
                        <div class="order-device-select">
                          <label>Would you like to order a CloudBox?</label><br>
                          <input type="radio" id="noOrder" ng-model="cloudBox.isOrdering" ng-change="calculateTax(); calculateProp65();" ng-value="false">
                          <label for="noOrder">No</label><br>
                          <input type="radio" id="yesOrder" ng-model="cloudBox.isOrdering" ng-change="calculateTax(); calculateProp65();" ng-value="true">
                          <label for="yesOrder">Yes</label><br>
                        </div>
                      </div>
                      <div class="order-device-details" ng-if="cloudBox.isOrdering">
                        <div class='order-form-address'>
                          <div class="order-form-destination">
                            <label>Where would you like to ship the CloudBox to?</label><br>
                            <input type="radio" id="shipToUser" ng-model="shipTo.corporate" ng-change="calculateTax(); calculateProp65();" ng-value="false">
                            <label for="shipToUser">New Location Address Above</label><br>
                            <input type="radio" id="shipToCorp" ng-model="shipTo.corporate" ng-change="calculateTax(); calculateProp65();" ng-value="true">
                            <label for="shipToCorp">Corporate Address:</label><br>
                            <div class="corp-address">
                              {{account.name}}<br>
                              {{account.street_address}}<br>
                              {{account.city}}, {{account.state}} {{account.zipcode}}
                            </div>
                          </div>
                          <p class="po-box-notice"><i class="fa fa-info-circle fa-push-right"></i>Please note that we currently do not offer shipping to PO Boxes.</p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group order-device col-xs-12 col-sm-6 col-md-5">
                      <div class="order-form-checkout" ng-if="cloudBox.isOrdering">
                        <div class="section shipping-rates">
                          <div ng-if="continentalShipping">
                            <label>Select Your Shipping Option</label><br>
                            <input id="r1" name="shipgroup" type="radio" ng-model="selectedRate.choice" ng-value="0">
                            <label for="r1" class="shiplabel">{{shippingRates[0].name}} - ${{shippingRates[0].value}}</label><br>
                            <input class="shipping-rate-next-input" id="r2" name="shipgroup" type="radio" ng-model="selectedRate.choice" ng-value="1" ng-change="confirmNextDayShipping()" disabled>
                            <label for="r2" class="shiplabel shipping-rate-next-label">{{shippingRates[1].name}} - ${{shippingRates[1].value}}</label><br>
                            <span class="help-text"><i class="fa fa-info-circle fa-push-right"></i>Expedited orders will return once the COVID-19 restrictions and shipping interruptions have been lifted.</span>
                          </div>
                          <div ng-if="!continentalShipping">
                            <label>Shipping to {{shipTo.dest}}</label></br>
                            <input id="r3" name="shipgroup" type="radio" ng-model="selectedRate.choice" ng-value="2">
                            <label for="r3" class="shiplabel">{{shippingRates[2].name}} ${{shippingRates[2].value}}</label></br>
                            <div class="empty"></div>
                          </div>
                          <div class="shipping-note">
                            * If you are shipping multiple boxes on the same business day to the same address, we will group these together and charge one shipping fee.
                          </div>
                        </div>
                        <div class="section summary">
                          <div class="cost-detail">
                            <div class="cost-item">
                              <div class="description">CloudBox</div>
                              <div class="cost">
                                <div>$</div>
                                <div>{{cloudBoxPrice | number:2 }}</div>
                              </div>
                            </div>
                            <div class="cost-item" ng-if="tax">
                              <div class="description">CA Tax</div>
                              <div class="cost">
                                <div>$</div>
                                <div>{{tax | number: 2}}</div>
                              </div>
                            </div>
                            <div class="cost-item">
                              <div class="description">Shipping</div>
                              <div class="cost">
                                <div>$</div>
                                <div>{{shippingRates[selectedRate.choice].value | number: 2}}</div>
                              </div>
                            </div>
                            <div class="cost-item">
                              <div class="description">Total</div>
                              <div class="cost">
                                <div>$</div>
                                <div>{{calculateTotal() | number: 2}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" ng-if="::!isEditing">
                <div class="col-xs-12 col-sm-11">
                  <div class="terms-container" ng-class="{'ordering-box': cloudBox.isOrdering}">
                    <label class="checkbox-inline" ng-show="showProp65">
                      <input type="checkbox"
                        ng-model="formdata.prop65_checkbox"
                        ng-required="showProp65">
                      <div class="prop65">
                        <img src="../images/prop65warning.png" />
                        WARNING: This product can expose you to chemicals including nickel which is known to the State of California to cause cancer and birth defects or other reproductive harm. For more information go to
                        <a href="https://www.p65warnings.ca.gov/" target="_blank">www.P65Warnings.ca.gov</a>.
                      </div>
                    </label>
                    <div class="terms">
                      <label class="checkbox-inline">
                        <input type="checkbox" ng-model="formdata.terms_checkbox" required>
                        <span ng-if="!cloudBox.isOrdering">I agree to the Cloud Cover Music <strong><a href="https://media.cloudcovermusic.com/Cloud_Cover_Media_Terms_and_Conditions.pdf" target="_blank">terms</a></strong> and acknowledge that I am adding a location to my subscription. This will increase the monthly subscription count and monthly charge.</span>
                        <span ng-if="cloudBox.isOrdering">I agree to the Cloud Cover Music <strong><a href="https://media.cloudcovermusic.com/Cloud_Cover_Media_Terms_and_Conditions.pdf" target="_blank">terms</a></strong> and acknowledge that I am adding a location to my subscription and ordering a CloudBox. This will increase the monthly subscription count and monthly charge, and result in an additional charge of <strong>${{calculateTotal() | number: 2}}</strong> upon shipping of the CloudBox.</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" ng-disabled="editlocation.$invalid || isDisabled" class="btn btn-success">
            <span ng-if="!cloudBox.isOrdering && !isEditing">Add Location</span>
            <span ng-if="cloudBox.isOrdering && !isEditing">Add Location with CloudBox</span>
            <span ng-if="isEditing">Save Location</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
