<div class="row default-container presets-container">
  <div class="col-sm-12">
    <div class="admin-toolbar left-right header">
      <div class="left-side empty"></div>
      <div class="right-side">
        <a class="btn btn-success" ng-click="changelocation('/admin/messages/presets/create')"><i class="fa fa-plus"></i> Create Preset</a>
        <input ng-model="query" class="form-control filter" search-field placeholder="Search Presets">
      </div>
    </div>
    <div class="default-block">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="sortable" ng-click="order('name')">
              <h2>
                <span tooltip="Sort by Preset Name" tooltip-placement="top"><i class="fa fa-tasks"></i>&nbsp;Presets</span>
                <span class="glyphicon glyphicon-triangle-bottom" ng-show="orderBy === 'name'" ng-class="{ 'glyphicon-triangle-top': reverse }"></span>
              </h2>
            </th>
            <th class="sortable" ng-click="order('isGlobal')">
              <span tooltip="Sort by Global" tooltip-placement="top">Global</span>
              <span class="glyphicon glyphicon-triangle-bottom" ng-show="orderBy === 'isGlobal'" ng-class="{ 'glyphicon-triangle-top': reverse }"></span>
            </th>
            <th class="sortable text-center" ng-click="order('isActive')">
              <span tooltip="Sort by In Use" tooltip-placement="top">In Use</span>
              <span class="glyphicon glyphicon-triangle-bottom" ng-show="orderBy === 'isActive'" ng-class="{ 'glyphicon-triangle-top': reverse }"></span>
            </th>
            <th>&nbsp;</th>
            <th class="row-actions">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="preset in filteredPresets = (presets | filter: search() | orderBy: customSort | itemsPerPage: pageSize)">
            <td>
              <div class="name">{{preset.name}}</div>
              <div ng-hide="me.user.userid == preset.userid" class="subname orange">Owner {{preset.username}}</div>
            </td>
            <td>
              <span class="field2 light" ng-show="preset.isGlobal">Global</span>
            </td>
            <td class="text-center user-is-active">
              <span ng-if="preset.isActive"><span class="useractive">&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
              <span ng-if="!preset.isActive"><span class="userinactive">&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
            </td>
            <td class="text-right">
              <span ng-hide='userPerms.isMessageAdmin || me.user.userid == preset.userid' class='light'>Account Managed</span>
            </td>
            <td class="text-right row-actions">
              <a ng-show='userPerms.isMessageAdmin || me.user.userid == preset.userid' ng-click="changelocation('/admin/messages/presets/' + preset.presetid + '/edit')" class="btn btn-default action-button"><i class="fa fa-pencil"></i></a>
              <a ng-show='userPerms.isMessageAdmin || me.user.userid == preset.userid' ng-click="removePreset(preset)" class="btn btn-default action-button"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
          <tr ng-hide="filteredPresets.length">
            <td colspan="2">
              <div class="default-row">
                <div class="name" ng-show="query.length < 1"><strong>Click on <em>Create Preset</em> to add a preset</strong></div>
                <div class="name" ng-show="query.length > 0"><strong>No results found for search term <em>{{query}}</em></strong></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="text-center">
      <div class="pull-right">
        <div class="form-inline">
          Presets Per Page:
          <select class="form-control" id="pageSize" ng-model="pageSize">
            <option ng-value="50">50</option>
            <option ng-value="100">100</option>
            <option ng-value="300">300</option>
          </select>
        </div>
      </div>
      <dir-pagination-controls></dir-pagination-controls>
    </div>
  </div>
</div>
