<playlist-nav></playlist-nav>
<div class="artist-radio row default-container">
  <div class="col-sm-12" ng-if="resultsLoading !== 'error'">
    <div class="default-block account-playlist image-list" ng-if="searchActive">
      <div class="header"><i class="fa fa-search"></i>&nbsp;Search artist results for <b>"{{musicsearch}}"</b>
        <div class="btn btn-primary" style="float: right;" ng-click="cancelSearch()">Cancel Search</div>
      </div>
      <div class="results-loading" ng-if="resultsLoading"><i class="fa fa-spinner fa-spin"></i></div>
      <div class="station-container" ng-if="!resultsLoading" ng-repeat="artistInfo in artists">
        <div>
          <div class="cell-background" ng-class="{selected: false, lazyload: true}"
            ng-attr-data-bg="{{artistInfo.art.url}}">
          </div>
          <content-rating-icon rating-id="{{station.content_rating_id}}" show-tooltip="true"></content-rating-icon>
          <div class="station-info">
            <div class="title"><b>{{artistInfo.name}}</b></div>
            <div class="tagline">
              <a class="btn btn-sm btn-block" ng-click="createArtistRadioStation(artistInfo)"><i class="fa fa-podcast"></i>&nbsp;Create Station</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="default-block account-playlist image-list" ng-if="!searchActive && stations.length">
      <div class="header"><i class="fa fa-th-large"></i>&nbsp;Collection</div>
      <div class="results-loading" ng-if="resultsLoading"><i class="fa fa-spinner fa-spin"></i></div>
      <div class="station-container" ng-if="!resultsLoading" ng-repeat="station in stations">
        <div>
          <div class="cell-background" ng-class="{selected: station.id == currentStation, lazyload: true}"
            ng-attr-data-bg="{{station.art.url}}">
            <div class="cell">
              <div ng-if="!isPrefetch()" class="btn play-now" ng-click="playNow(station)">
                Play Now
              </div>
              <div ng-if="!isPrefetch()" class="btn play-next" ng-click="removeArtistRadioStation(station)">
                Remove Station
              </div>
              <div ng-if="isPrefetch()" class="btn play-prefetch" ng-click="playNext(station)"
                title="{{prefetchTooltip()}}">
                Play At Next<br />Media Window
              </div>
            </div>
            <div class="now-playing">
              <div class="play-indicator">
                <i class="fa fa-volume-up"></i>
              </div>
            </div>
          </div>
          <div class="station-info">
            <div class="title"><b>{{station.name}}</b></div>
            <div class="tagline">

            </div>
            <div class="moreinfo">
              <a ng-click="popupStationInfo($event,station.musicid)">Preview Station</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="default-block" ng-if="!searchActive && !stations.length">
      <div class="header"><i class="fa fa-user"></i>&nbsp;<b>Welcome to Artist Radio.</b></div>
      <div class="suggested-artists account-playlist image-list">
        <div class="results-loading" ng-if="resultsLoading"><i class="fa fa-spinner fa-spin"></i></div>
        <div class="description" ng-if="!resultsLoading && suggestedArtists.length > 0">
        Start building your collection from these artists you might like
        </div>
        <div class="station-container" ng-if="!resultsLoading && suggestedArtists.length > 0" ng-repeat="artistInfo in suggestedArtists">
          <div>
            <div class="cell-background" ng-class="{selected: false, lazyload: true}"
              ng-attr-data-bg="{{artistInfo.art.url}}">
            </div>
            <div class="station-info">
              <div class="title"><b>{{artistInfo.name}}</b></div>
              <div class="tagline">
                <a class="btn btn-sm btn-block" ng-click="createArtistRadioStation(artistInfo)"><i class="fa fa-podcast"></i>&nbsp;Create Station</a>
              </div>
            </div>
          </div>
        </div>
        <div class="description" ng-if="!resultsLoading && (!suggestedArtists || suggestedArtists.length==0)">
          Start building your collection by searching for your favorite artist to create a radio station
        </div>
        <div class="description" ng-if="!resultsLoading && suggestedArtists.length > 0">
          or search for your favorite artist
        </div>
        <div class="search-input" ng-if="!resultsLoading">
          <input type='text' class='searchbox form-control filter' search-field
            placeholder="Type here or use the search box on the menu bar"
            ng-model="artistSearch"
            ng-keydown="$event.keyCode === 13 && handleSearch()">
          <button class="btn btn-primary" ng-click="handleSearch()">Go</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 error-message" ng-if="resultsLoading == 'error'">
    Unable to load Artist Radio data.  Please try again later.
  </div>
</div>
