<div class="labels">
    <div class="row"></div>
    <div class="row" ng-repeat="label in labels">{{label}}</div>
</div>

<div class="data-container">
<div class="data-area">

    <div class="row timestamps">
      <daypart-grid min="0" max="1440" tick="60" zoom="zoom" class="grid-container"></daypart-grid>
    </div>

    <div class="row" ng-repeat="label in labels">
        <daypart-grid min="0" max="1440" tick="60" zoom="zoom" class="grid-container striped no-labels"></daypart-grid>
        <daypart-multi-slider default-value="60" min="0" max="1440" tick="15" slots="slots" zoom="zoom" day="$index"></daypart-multi-slider>
    </div>

</div>
</div>
