<div class="row default-container">
  <div class="content-form">
    <form ng-submit="submit()" name="accountInfo">
      <h2>Edit Contact Information</h2>
      <div class="form-group account-contact-form" style="padding-left:10px;">
        <div class="control-group">
          <label class="control-label" for="business-name">Business Name</label>
          <div class="controls">
            <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength ng-valid-unique ng-valid-chars" id="business-name" autocomplete="organization" type="text" required ng-model="formdata.name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="contact-name">Contact Name</label>
          <div class="controls">
            <input class="form-control" id="contact-name" autocomplete="name" type="text" required ng-model="formdata.contact_name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="contact-email">Email Address</label>
          <div class="controls">
            <input class="form-control" id="contact-email" autocomplete="email" name="email" type="email" pattern="[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}" required ng-model="formdata.email">
            <div class="error" ng-show="accountInfo.email.$dirty && accountInfo.email.$invalid">
                <small class="error" ng-show="accountInfo.email.$error.required">Your email is required.</small>
                <small class="error" ng-show="accountInfo.email.$error.email">This is not a valid email. Please input a valid email.</small>
              </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="contact-phone">Phone</label>
          <div class="controls">
            <input class="form-control" id="contact-phone" autocomplete="tel-national" type="text" pattern="^\d{10}$" placeholder="10 Digit Phone Number" required ng-model="formdata.phone">
          </div>
        </div>

        <h2>IT Contact</h2>
        <div class="control-group">
          <label class="control-label" for="it-contact-name">Contact Name</label>
          <div class="controls">
            <input class="form-control" id="it-contact-name" autocomplete="name" type="text" name="it_name" ng-model="formdata.it_name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="it-contact-email">Email Address</label>
          <div class="controls">
            <input class="form-control" id="it-contact-email" autocomplete="email" type="text" name="it_email" ng-model="formdata.it_email" validate-multiple-emails>
            <span class="error" ng-show="accountInfo.it_email.$dirty && accountInfo.it_email.$invalid">
              <small class="error">That is not a valid email. Please input a valid email.</small>
            </span>
            <span class="help-block">Multiple emails allowed with comma separator.</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="it-contact-phone">Phone</label>
          <div class="controls">
            <input class="form-control" id="it-contact-phone" autocomplete="tel-national" type="text" name="it_phone" maxlength="10" placeholder="10 Digit Phone Number" ng-model="formdata.it_phone" ng-pattern="/^\d+$/" >
            <span class="error" ng-show="accountInfo.it_phone.$dirty && accountInfo.it_phone.$invalid">
              <small class="error">That is not valid phone no. Please input only numbers.</small>
            </span>
          </div>
        </div>

        <div class="form-actions">
          <button class="btn btn-primary" type="submit">Save Changes</button>
        </div>
      </div>
    </form>
  </div>
</div>
