<div class="row">
  <div class="col-lg-12 block-unit">
    <div class="password-form col-sm-3">
      <h1>Change Password</h1>
      <p class="alert alert-warning">Changing your password will log you out of all your devices. You will need to enter your new password on all your devices.</p>
      <form name="passwordReset" ng-submit="submit()">
        <div class="form-group">
          <label class="control-label" for="password">Current Password</label>
          <input class="form-control" id="password" type="password" required ng-model="formdata.old_password">
        </div>
        <div class="form-group">
          <label class="control-label" for="new-password">New Password</label>
          <input class="form-control" id="new-password" name="newPassword" type="password" required
            ng-model="formdata.password"
            ng-minlength="8"
            ng-maxlength="45"
            ccm-at-least-one-letter
            ccm-at-least-one-number>
          <p class="help-block validation-error" ng-show="passwordReset.newPassword.$dirty && passwordReset.newPassword.$invalid">
            <span ng-show="passwordReset.newPassword.$error.minlength">Password must be at least 8 characters</span>
            <span ng-show="passwordReset.newPassword.$error.maxlength">Password must be at most 45 characters</span>
            <span ng-show="passwordReset.newPassword.$error.ccmAtLeastOneLetter">Password must contain at least one letter</span>
            <span ng-show="passwordReset.newPassword.$error.ccmAtLeastOneNumber">Password must contain at least one number</span>
          </p>
        </div>
        <div class="form-group">
          <label class="control-label" for="confirm-password">Confirm New Password</label>
          <input class="form-control input-lrg" id="confirm-password" name="confirmPassword" type="password" required
            ng-model="confirmedPassword"
            password-verify="formdata.password">
          <p class="help-block validation-error" ng-show="passwordReset.confirmPassword.$dirty && passwordReset.confirmPassword.$invalid">
            <span ng-show="passwordReset.confirmPassword.$error.passwordVerify">Your password does not match</span>
          </p>
        </div>
        <button class="btn btn-success" type="submit" ng-disabled="passwordReset.$invalid">
          Update Password
        </button>
      </form>
    </div>
  </div>
</div>
