<div class="row">
  <div class="col-md-12 enterprise">
    <div class="row">
      <h2>Promotional Messages</h2>
      <div class="intro">Upgrade to the Messaging plan and get the best in-store message tool for your business. Start increasing your in-store sales today!
      </div>
      <div class="nav">
        <a ng-click="changelocation('/admin/billing/upgrade')" ng-if="me.permissions.account.owner || me.permissions.account.payment"><button  class="btn btn-success">Upgrade Today!</button></a>
      </div>
    </div>
    <div class="row features">
      <div class="col-md-6">
        <h3>How do messages work?</h3>
        <div class="content">
          You create a library of messages to play live in between songs or at certain dates and times. You have full control of which messages play and their frequency.
        </div>
        <h3>When can I start using messages?</h3>
        <div class="content">If you upload pre-recorded messages they are available in your account right away. We require you to be out of the trial period to request messages that get recorded at our sound studio.
        </div>
        <h3>How do I record my own messages?</h3>
        <div class="content">
          We have self-recording instructions available in our help articles <a href="https://help.cloudcovermusic.com/targeted-in-store-messaging/upload-your-own-custom-messages" target="_blank">here.</a>
        </div>
      </div>
      <div class="col-md-6">
        <h3>How many messages do you record?</h3>
        <div class="content">We can record as many messages as you need. Studio recording costs are $99 per message. It will always be free to upload messages into your account that you have already pre-recorded.</div>
        <h3>How long before I get my messages?</h3>
        <div class="content">It will take up to 5 business days for the studio messages to get recorded and loaded into your account. You will receive an email when they are ready to play.</div>
      </div>
    </div>
  </div>
</div>
