<div class="row">

  <div ng-show="me.permissions.user.select_music" class="col-sm-12">
    <div class="default-block block-unit">

      <playlist-nav></playlist-nav>

      <div class="playlist-blurb" ng-show="me.has_company_stations">
        <i class="fa fa-info-circle"></i>
        <span>The account administrator has limited what stations are available to you.</span>
        <a ng-show="!isMobile && creationURL && isMusicAdmin" class="create-playlist-button" href="{{creationURL}}">{{creationLabel}}</a>
      </div>

      <div class="station-and-filter-container">
      <public-station-filter filter-method="filterDataset(filterStatus, filterList, searchQuery)" search-query="musicsearch" ng-hide="me.has_company_stations || me.account.has_restricted_stations" ng-class="{open: filterMenuOpen}"></public-station-filter>

      <div class="station-list" ng-class="{searchResults: searchResults, filterOpen: filterMenuOpen, hasCompanyStations: (me.has_company_stations || me.account.has_restricted_stations)}" ng-if="showAll || searchResults">
        <div class="account-playlist image-list">
          <div class="header">
            <i class="fa fa-push-right" ng-class="dataIcon" aria-hidden="true" ng-hide="dataTitleImg"></i>
            <span class="header-title" ng-bind="dataTitle" ng-hide="dataTitleImg"></span>
            <img class="header-title" ng-src="{{dataTitleImg}}" ng-hide="!dataTitleImg"></img>
            <button class="btn btn-primary pull-right create-mix-btn gtm-create-mix-dialog-open" type="button"
                    ng-if="userPerms.isMusicAdmin || userPerms.canManageMusic"
                    ng-show="dataset.length !== filteredPlaylists.length && filteredPlaylists.length >= 2"
                    ng-click="openCreateMixStationFromFiltersModal()">
              <i class="fa fa-random fa-push-right"></i>Create Mix Station
            </button>
          </div>
          <div class="results-loading" ng-if="resultsLoading"><i class="fa fa-spinner fa-spin"></i></div>
          <div class="no-results-found" ng-if="!resultsLoading && filteredPlaylists.length < 1">No Results found that match the selected filters</div>
          <div class="station-container"
               ng-repeat="station in filteredPlaylists track by station.musicid"
               ng-if="!isFilteredOut(station)"
               ng-class="{selected:checkPlaying(station),active:checkActiveStation(station.musicid)}"
               touch-station
          >
            <div>
              <div class="cell-background" ng-class="{selected: checkPlaying(station), lazyload: true}" ng-attr-data-bg="{{stationArtUrl + station.thumb_url}}">
                <div class="cell">
                  <div class="btn toggle-favorites"
                    ng-click="toggleFavorites(station)"
                    ng-hide="station.isFavorite">
                      <i class="fa fa-heart-o"></i>
                  </div>
                  <div ng-if="!isPrefetch()" class="btn play-now" ng-click="playNow(station)">
                    Play Now
                  </div>
                  <div ng-if="!isPrefetch()" class="btn play-next" ng-click="playNext(station)">
                    Play Next
                  </div>
                  <div ng-if="isPrefetch()" class="btn play-prefetch" ng-click="playNext(station)" title="{{prefetchTooltip()}}">
                    Play At Next<br/>Media Window
                  </div>
                </div>
                <div class="now-playing">
                  <div class="btn toggle-favorites"
                    ng-click="toggleFavorites(station)"
                    ng-hide="station.isFavorite">
                      <i class="fa fa-heart-o"></i>
                  </div>
                  <div class="play-indicator">
                    <i class="fa fa-volume-up"></i>
                  </div>
                </div>
              </div>
              <div class="btn toggle-favorites"
                ng-click="toggleFavorites(station)"
                ng-hide="!station.isFavorite">
                <i class="fa fa-heart"></i>
              </div>
              <content-rating-icon rating-id="{{station.content_rating_id}}" show-tooltip="true"></content-rating-icon>
              <div class="station-info">
                <div class="title"><b>{{station.name}}</b></div>
                <div class="tagline">
                  {{station.subname}}
                </div>
                <div class="moreinfo">
                  <a ng-click="popupStationInfo($event,station.musicid)">Preview Station</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
