<div class="row">
  <div ng-show="userPerms.canSelectMessages || userPerms.canManageMessages" class="col-sm-12">
    <div class="default-block playlists-container block-unit messages">

      <playlist-nav></playlist-nav>
      <div class="playlist-blurb">
        <div class="blurb">
          <i class="fa fa-info-circle"></i>
          <span>Group and set messages to play at specific times by creating a Schedule.</span>
        </div>
        <div class="button-bar">
          <a ng-show="messageQuantityAllowedPerPreset && (userPerms.isMessageAdmin || userPerms.canManageMessages)" ng-click="createMessageSchedule()" class="create-playlist-button">Create Schedule</a>
        </div>
      </div>
      <div class='account-playlists tab-pages'>
        <table>
        <thead>
          <tr>
            <th class="play-control"></th>
            <th class="name sortable" ng-click="order('name')">Name <i ng-if="orderBy == 'name'" class="fa fa-arrow-{{sortDirection}}"></i></th>
            <th class="created-by sortable" ng-show="!isMobile" ng-click="order('username')">Created By <i ng-if="orderBy == 'username'" class="fa fa-arrow-{{sortDirection}}"></i></th>
            <th class="last-modified" ng-class="{mobile:isMobile}">Last Modified</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="messaging-toolbar">
            <td class="play-control">
              <input id="messages-off" type="radio"
                     ng-attr-title="{{isPrefetch() ? prefetchTooltip() : ''}}"
                     ng-value="true"
                     ng-model="messages_off"
                     ng-click="removeMessageSchedule()">
            </td>
            <td class="messages" colspan="4">
              <label for="messages-off" ng-attr-title="{{isPrefetch() ? prefetchTooltip() : ''}}">No Active Schedules</label>
            </td>
          </tr>
          <tr dir-paginate="schedule in filteredSchedules = (dataset | filter: musicsearch | orderBy: customSort | itemsPerPage: pageSize)" ng-class="{active: checkMessagePlaying(schedule)}" class="preset list-view-row">
            <td class="play-control" ng-class="{ mobile: isMobile }">
              <input name="current-message" type="radio"
                     ng-attr-title="{{isPrefetch() ? prefetchTooltip() : ''}}"
                     ng-value="schedule.scheduleid"
                     ng-model="me.schedule_id"
                     ng-click="selectMessageSchedule(schedule)">
            </td>
            <td ng-click="selectMessageSchedule(schedule)" class="name label-for" ng-class="{mobile:isMobile}" title="{{isPrefetch() ? prefetchTooltip() : ''}}">{{schedule.name | limitTo: 35}}</td>
            <td class="created-by" ng-show="!isMobile" ng-click="selectMessageSchedule(schedule)">{{schedule.username}}</td>
            <td class="last-modified" title="{{schedule.lastModified}}" ng-class="{mobile:isMobile}" ng-click="selectMessageSchedule(schedule)">{{schedule.lastModified}}</td>
            <td class="actions" ng-show="!isMobile" ng-class="{active: touchActive == schedule.scheduleid}">
              <a
                class="btn btn-default action-button"
                ng-class="{ 'disabled': schedule.isDuplicating }"
                tooltip-placement="bottom"
                tooltip="Duplicate Schedule"
                ng-show="userPerms.isMessageAdmin || userPerms.canManageMessages"
                ng-click="duplicateMessageSchedule($index,schedule.scheduleid)"
              >
                <i
                  class="fa"
                  ng-class="{
                    'fa-copy': !schedule.isDuplicating,
                    'fa-spin': schedule.isDuplicating,
                    'fa-spinner': schedule.isDuplicating
                  }"></i>
              </a>
              <a ng-if='isMessageAdmin || (me.user.userid == schedule.userid)' ui-sref="account.admin.editmessageschedules({ scheduleid: schedule.scheduleid })"
                class="btn btn-default action-button edit-preset"
              >
                <i class="fa fa-pencil"></i>
              </a>
              <a ng-if='isMessageAdmin || (me.user.userid == schedule.userid)'
                class="btn btn-default action-button delete-preset"
                ng-click="removeSchedule(schedule)"
              >
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
          <tr ng-hide="filteredSchedules.length">
            <td colspan="5" class="no-results-message" ng-show="messageQuantityAllowedPerPreset && (userPerms.isMessageAdmin || userPerms.canManageMessages)">
              <div class="default-row" style="pointer-events: none">
                <div class="name" ng-show="!musicsearch.length > 0"><strong>Click on <em>Create Schedule</em> to select messages from Your Library</strong></div>
                <div class="name" ng-show="musicsearch.length > 0"><strong>No results found for search term <em>{{musicsearch}}</em></strong></div>
              </div>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
      <div class="pagination-controls">
        <div class="count-per-page">
          <div class="form-inline">
            Schedules Per Page:
            <select class="form-control" id="pageSize" ng-model="pageSize">
              <option ng-value="20">20</option>
              <option ng-value="50">50</option>
              <option ng-value="100">100</option>
              <option ng-value="300">300</option>
            </select>
          </div>
        </div>
        <dir-pagination-controls></dir-pagination-controls>
      </div>
    </div>
  </div>
</div>
