<div class="row">
  <div ng-show="userPerms.canSelectMessages || userPerms.canManageMessages" class="col-sm-12">
    <div class="default-block playlists-container block-unit messages">
      <playlist-nav></playlist-nav>
      <div class="playlist-blurb">
        <div class="blurb">
          <i class="fa fa-info-circle"></i>
          <span>Group and set messages to play at varying frequencies by creating a Preset.</span>
        </div>
        <div class="button-bar">
          <a ng-show="messageQuantityAllowedPerPreset && (userPerms.isMessageAdmin || userPerms.canManageMessages)" ui-sref="account.admin.createmessagepresets" class="create-playlist-button">Create Preset</a>
          <a ng-show="messageQuantityAllowedPerPreset && (userPerms.isMessageAdmin || userPerms.canManageMessages)" ui-sref="account.admin.messages" class="create-playlist-button">Message Library</a>
        </div>
      </div>
      <div class='account-playlists tab-pages'>
        <table>
        <thead>
          <tr>
            <th class="play-control"></th>
            <th class="name sortable" ng-click="order('name')">Name <i ng-if="orderBy == 'name'" class="fa fa-arrow-{{sortDirection}}"></i></th>
            <th class="messages" ng-class="{mobile:isMobile}">Messages</th>
            <th class="created-by sortable" ng-show="!isMobile" ng-click="order('username')">Created By <i ng-if="orderBy == 'username'" class="fa fa-arrow-{{sortDirection}}"></i></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="messaging-toolbar">
            <td class="play-control">
              <input id="messages-off" type="radio"
                     ng-attr-title="{{isPrefetch() ? prefetchTooltip() : ''}}"
                     ng-value="true"
                     ng-model="messages_off"
                     ng-click="removeMessagePreset()">
            </td>
            <td class="messages" colspan="4">
              <label for="messages-off" ng-attr-title="{{isPrefetch() ? prefetchTooltip() : ''}}">No Active Presets</label>
            </td>
          </tr>
          <tr dir-paginate="preset in filteredPresets = (dataset | filter: musicsearch | orderBy: customSort | itemsPerPage: pageSize)" ng-class="{active: checkMessagePlaying(preset)}" class="preset list-view-row">
            <td class="play-control" ng-class="{ mobile: isMobile }">
              <input name="current-message" type="radio"
                     ng-attr-title="{{isPrefetch() ? prefetchTooltip() : ''}}"
                     ng-value="preset.presetid"
                     ng-model="me.message_preset"
                     ng-click="selectMessagePreset(preset)">
            </td>
            <td ng-click="selectMessagePreset(preset)" class="name label-for" ng-class="{mobile:isMobile}" title="{{isPrefetch() ? prefetchTooltip() : ''}}">{{preset.name | limitTo: 35}}</td>
            <td class="messages" title="{{preset.messages}}" ng-class="{mobile:isMobile}" ng-click="selectMessagePreset(preset)">{{preset.messages | limitTo:80}}{{preset.messages.length > 80 ? '...' : ''}}</td>
            <td class="created-by" ng-show="!isMobile" ng-click="selectMessagePreset(preset)">{{preset.username}}</td>
            <td class="actions" ng-show="!isMobile" ng-class="{active: touchActive == preset.presetid}">
              <a ng-if="userPerms.isMessageAdmin || (me.user.userid == preset.userid)"
                class="btn btn-default action-button edit-preset"
                ui-sref="account.admin.editmessagepresets({ presetid: preset.presetid })"
              >
                <i class="fa fa-pencil"></i>
              </a>
              <a ng-if="userPerms.isMessageAdmin || (me.user.userid == preset.userid)"
                class="btn btn-default action-button delete-preset"
                ng-click="removePreset(preset)"
              >
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
          <tr ng-hide="filteredPresets.length">
            <td colspan="5" class="no-results-message" ng-show="messageQuantityAllowedPerPreset && (userPerms.isMessageAdmin || userPerms.canManageMessages)">
              <div class="default-row" style="pointer-events: none">
                <div class="name" ng-show="!musicsearch.length > 0"><strong>Click on <em>Create Preset</em> to select messages from Your Library</strong></div>
                <div class="name" ng-show="musicsearch.length > 0"><strong>No results found for search term <em>{{musicsearch}}</em></strong></div>
              </div>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
      <div class="pagination-controls">
        <div class="count-per-page">
          <div class="form-inline">
            Presets Per Page:
            <select class="form-control" id="pageSize" ng-model="pageSize">
              <option ng-value="20">20</option>
              <option ng-value="50">50</option>
              <option ng-value="100">100</option>
              <option ng-value="300">300</option>
            </select>
          </div>
        </div>
        <dir-pagination-controls></dir-pagination-controls>
      </div>
    </div>
  </div>
</div>
