<div class="row request-message">
  <div class="col-md-12">
    <div class="content-form">
      <form name="messageRequest" ng-submit="submit(this)">
        <h2>Message Request</h2>
        <div class="form-group message-title">
          <label>Give your message a name</label>
          <input ng-model="formdata.message_name" class="form-control"  name="message_name" required>
          <div class="error" ng-show="messageRequest.message_name.$dirty && messageRequest.message_name.$invalid">
            <small class="error" ng-show="messageRequest.message_name.$error.required">Please input a message name</small>
          </div>
        </div>
        <div class="form-group">
          <label>What would you like to say in this message?</label>
          <div class="form-explain-inline">We have limited your word count to 75 words, to ensure that the promotional message meets industry standards of around 30 seconds. Once submitted, we will record and post your message within 5 business days. You will receive an email notification once it is posted and ready for you to schedule and use.</div>

          <textarea ng-change="wordCounter()" ng-model="formdata.request_script" class="form-control" rows="3" name="request_script" required></textarea>
          <div class="error" ng-show="messageRequest.request_script.$dirty && messageRequest.request_script.$invalid">
            <small class="error" ng-show="messageRequest.request_script.$error.required">Please input a message</small>
          </div>
          <div class="form-explain-inline">wordcount: {{wordCount}}</div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Would you like a chime in front of your message?</label>
              <div class="radio" ng-repeat="chime in chimes">
                <label>
                  <input type="radio" name="chime" id="inlineCheckbox1" ng-model="formdata.request_chime" value="{{chime}}">
                  {{chime}}
                </label>
              </div>
            </div>
            <div class="form-group">
              <label>What gender would you like the voice to be?</label>
              <select  ng-model="formdata.request_gender" ng-options="gender.name as gender.value for gender in genders"></select>
            </div>
            <div class="form-group">
              <label>What energy level would you like the voice to be?</label>
              <div class="radio" ng-repeat="energy in energies">
                <label>
                  <input type="radio" name="energy" ng-model="formdata.request_energy" value="{{energy}}">
                  {{energy}}
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Would you like background music?</label>
              <div class="radio" ng-repeat="backgroundMusic in backgroundMusic">
                <label>
                  <input type="radio" name="music" ng-model="formdata.request_background" value="{{backgroundMusic.value}}">
                  {{backgroundMusic.name}}
                  <span ng-if="backgroundMusic.sample"> - <a href="/audio/background_music_samples/{{backgroundMusic.sample}}" target="_blank">Sample</a></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Any additional notes?</label>
          <textarea ng-model="formdata.request_notes" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group row">
          <div class="col-xs-10 col-md-10 terms">
            <div class='alert alert-info'>
              <p><b>Terms Agreement</b></p>
              <p>
                By agreeing to our <strong><a href="https://media.cloudcovermusic.com/Cloud_Cover_Media_Terms_and_Conditions.pdf" target="_blank">terms</a></strong>, you acknowledge that you are ordering a studio-produced message. No further edits are allowed after submission.
              </p>
              <p>
                You will receive a $99 charge to your account once the message is uploaded.
              <br>
              <div>
                <label class="checkbox-inline alert-info">
                  <input type="checkbox" ng-model="agreement" required> <b>I Agree</b>
                </label>
              </div>
            </div>
          </div>
        </div>
        <button ng-disabled="messageRequest.$invalid" type="submit" class="btn btn-success">Request Message</button>
      </form>
    </div>
  </div>
</div>
