<p class="sonos-blurb">Login to link your Sonos controller with your Cloud Cover Music account.</p>
<div class="login-container">
  <div class="row">
    <div class="col-lg-12 block-unit">
      <div class="app-login-form">
       <form ng-hide="vm.formSuccess" ng-submit="vm.submit()">
          <div class="form-group stream-selector">
            <select class="form-control"
                    ng-model="vm.form.streamId"
                    ng-options="stream.streamid as stream.streamname for stream in vm.streams">
              <option value="" hidden>Select a Zone</option>
            </select>
          </div>
          <div class="button-bar">
            <button class="signin btn btn-success" type="submit" ng-disabled="!vm.form.streamId || vm.isSubmitting">Submit Zone</button>
            <img class="loader" src="/images/ajax-loader.gif" ng-show="vm.isSubmitting">
          </div>
        </form>
        <p ng-bind="vm.resultMessage"></p>
      </div>
    </div>
  </div>
</div>
