<div class="unsupported-browser-background"></div>
<div class="unsupported-browser-container">
  <div class='header-wrapper'>
    <div class="logo"></div>  
  </div>
  <div class="unsupported-browser">
    <div class="row">
      <div class="col-lg-12 block-unit">
        <div class="">
          <h1>Upgrade your browser<br>to use Tune</h1>
          <img src="/images/cloud-issue-sad.png">
          <p>We develop using recent technology to make our products safe, fast, stable and easier to use. Unfortunately, your browser does not support these technologies. Use one of these browsers and all will be well!
          </p>
          <div class="browser-list">
            <p><a href="https://www.google.com/chrome/browser/">Google Chrome</a></p>
            <p><a href="https://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a></p>
            <p><a href="https://support.apple.com/downloads/safari">Safari</a></p>
            <p><a href="https://www.microsoft.com/en-us/windows/microsoft-edge#k0bC6yzBAyYgDFzc.97">Microsoft Edge</a></p>
          </div>
        </div>
      </div>
    </div>
    <h2 class="tag-line">Built for Business</h2>
  </div>
  <div class="copyright">&copy; 2022 Cloud Cover Media, Inc. All Rights Reserved.</div>

  <a class="intercom-launcher intercom-booted" ng-class="{'intercom-open': intercomLauncherOpen, 'mobile-media-toolbar-open': mobileMediaToolbarOpen, mobile: isMobile}" href="mailto:{{intercomAppId}}@incoming.intercom.io">
    <div class="intercom-icon-close"></div>
    <div class="intercom-icon-open"></div>
    <span class="intercom-unread-count"></span>
  </a>
</div>
